@import "fonts-ar.css";
body {
    direction: rtl;
    font-family: 'DIN Next LT Arabic';
}

html {
    &:lang(ar) {
        direction: rtl;
        text-align: right;
        * {
            font-family: 'DIN Next LT Arabic' !important;
        }
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        {
            font-weight: 500;
            letter-spacing: 0;
        }
    }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: right;
}


/* HEADER */

header {
    width: 100%;
    height: 90px;
    background: #ffffff;
    padding: 22px 0 0 0;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    a.logo {
        width: 135px;
        height: 40px;
        float: right;
        margin: 0 50px 0 0;
        img {
            height: 100%;
            float: right;
        }
    }
    h1 {
        float: right;
        font: normal 20px 'Museo Sans 500';
        margin: 10px 70px 0 0;
        color: #363642;
        max-width: 300px;
        max-height: 46px;
        overflow: hidden;
    }
    .lang-switch {
        float: left;
        margin-left: 50px;
        margin-top: 10px;
        a {
            font: normal 14px inherit;
            color: #000000;
        }
    }
    .button {
        float: left;
        margin: 2px 0 0 40px;
    }
    .log-count {
        float: left;
        margin: 10px 0 0 40px;
        display: none;
        a {
            font: normal 12px 'Museo Sans 700';
            color: #525c60;
            em {
                font-style: normal;
                margin: 0 0 0 5px;
            }
            strong {
                color: #ee0209;
            }
            &:after {
                content: '';
                width: 18px;
                height: 19px;
                background: url("../images/icon-count.png") no-repeat 0 0;
                float: right;
                margin: 0 10px 0 0;
            }
        }
    }
}

.single-col-field .form fieldset label {
    font-family: 'DIN Next LT Arabic';
}

.cont-sec p strong {
    font-weight: 700;
}

.cont-wrap {
    margin-right: 100px;
}

nav ul li.active a {
    border-right: 5px solid #ffffff;
    border-left: none;
}

.banner-content fieldset .currency-cont input[type="number"] {
    float: right;
    padding: 9px 10px 9px 0;
    text-align: left;
}

.banner-content fieldset .currency-cont em {
    padding: 0 25px 0 0;
    right: auto;
    left: 0;
}

.widget-ques img {
    float: right;
}

.widget-ques .align-heading {
    margin-right: 25px;
    margin-left: 0;
    text-align: right;
}

footer ul {
    float: right;
    margin-right: 50px;
    margin-left: 0;
}

footer ul li {
    margin-left: 25px;
    margin-right: 0;
}

footer em {
    float: left;
    margin-left: 50px;
    margin-right: 0;
}

.btn-tick {
    padding: 10px 53px 11px 39px;
}

.btn-tick:before {
    left: 0;
    right: 32px;
}

.two-col-field form fieldset label {
    text-align: right;
}

.overlay .overlay-cont .close-btn {
    right: auto;
    left: 52px;
}

nav {
    right: 0;
}


.adv-btn {
    left:0;
    right: auto;
}

.cont-inner-left {
    float: right;
    margin-right: 65px;
}

.side-panel {
    left:0;
    right: auto;
}

.bundle-selector ul li {
    float: right;
}

.bullet {
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    li {
        margin: 0 0 12px 0;
        position: relative;
        img {
            position: absolute;
            right: 0;
            top: 5px;
            width: 13px;
        }
        em {
            color: #000;
            font: normal 16px 'Museo Sans 500';
            margin: 0 25px 0 0;
            text-align: right;
            display: block;
        }
    }
}


html[lang="ar"] .panel-group .panel-heading .panel-title a:after {
    left: 30px;
    right: auto;
}

.accordion-fill > .panel-heading .accordion-toggle:after {
    float:left;
}


.panel-heading {
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid #c0c0c0;

    a {
      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background: url("../images/plus-icon.png") no-repeat center center;
        float: left !important;
      }

    }
}

.progress-panel > p img {
    left: auto;
    right: 0;

}

.progress-panel > p{
    padding: 0 38px 0 0;
}


@import "style.css";
@import "imports/_responsive-ar";
