nav, .puzzle-info em:before {
  background: #279989; }

nav ul {
  border-color: #93ccc4; }

.side-panel, .progress-wheel .progress-circle #progress, .tool-info {
  background: #e7f1f2; }

.checkout table.review tr:nth-last-child(2) th:first-child, .checkout table td a.single, .intrested h2, .checkout table tr.total td:first-child, .checkout table td h5, header .log-count a strong, .accordion .collapse-summary h5, .detail-edit .panel-heading > a, .accordion .red-opt a, .detail-edit .detail-inner h5,
.progress-wheel h5, .puzzle-cont .puzzle-cont-inner h4, .tool-info h3, .single-col-field .form .re-code {
  color: #007681; }

.cont-sec h2, .bundle-table table tbody tr th:last-child, .bundle-table table tbody tr td input[type=radio]:checked + label:before,
.bundle-ben h3, .bundle-points .bundle-touch h4, .bundle-step h3, .bundle-radio input[type=radio]:checked + label:before, .bundle-table table .heading th, .bundle-table table .heading2, .total-touchpoints-widget h5 {
  color: #007681; }

.theme-conventional .conventional {
  display: none !important; }

.theme-conventional .islamic {
  display: block !important; }

header a.logo {
  height: 50px; }

#back .btn-hover {
  display: none !important; }

.bundle-selector ul li.active, .sticky-btn.active, .sticky-btn.active, .sticky-btn.active {
  background: #007681; }

.bundle-selector ul li.active:after {
  background: url(../images/islamic/bundle-select-arrow.png) no-repeat; }

header .log-count a:after {
  background: url(../images/islamic/icon-count.png) no-repeat 0 0; }

.accordion .panel-heading a:after,
.accordion-fill > .panel-heading .accordion-toggle:after {
  background: url(../images/islamic/plus-icon.png) no-repeat center center; }

.accordion .panel-heading a[aria-expanded="true"]:after,
.accordion-fill > .panel-heading .accordion-toggle[aria-expanded="true"]:after {
  background: url(../images/islamic/minus-icon.png) no-repeat center center; }

.accordion .panel-heading a[aria-expanded="false"]:after,
.accordion-fill > .panel-heading .accordion-toggle[aria-expanded="false"]:after {
  background: url(../images/islamic/plus-icon.png) no-repeat center center; }

.detail-edit .panel-heading > a:after {
  background: url(../images/islamic/pan-arrow.png) no-repeat center center; }

.puzzle-main .puzzle-close, .accordion-fill > .panel-heading .close-btn, .spin-header .close-btn {
  background: url(../images/islamic/close-btn.png) no-repeat 0 0; }

.tool-info:after {
  background: url(../images/islamic/tool-tip-arrow.png) 0 0 no-repeat; }

.overlay .overlay-cont .close-btn {
  background: url(../images/Islamic/close-btn.png) no-repeat 0 0 !important; }

.detail-edit.opened:before {
  background-color: #279989; }

.detail-edit.opened:after {
  background: url(../images/islamic/tip-left.png) no-repeat 0 0; }

.custom-select:after {
  background: url(../images/islamic/down-arrow.png) center center no-repeat #fff; }

.bundle-table table tbody tr td input[type=radio]:checked + label:before, .bundle-radio input[type=radio]:checked + label:before {
  background: url(../images/islamic/radio-button2.png) no-repeat; }

.checkbox div {
  background: url(../images/islamic/checkbox-icon-a.png) no-repeat left top; }

.checkbox input[type=checkbox]:checked ~ div {
  background: url(../images/islamic/checkbox-icon-b.png) no-repeat left top; }

.custom-drop-down-container .dd-icon {
  background: url(../images/islamic/down-arrow2.png) center center no-repeat #fff; }

.custom-drop-down-container .custom-drop-down li a:hover {
  color: #279989; }

.pnt-counter-box-container .pnt-counter-box .pnt-counter-box-inner .pnt-counter .counter-circle {
  background: url(../images/islamic/counter-sprites-a.png) 0 0 no-repeat; }

.pnt-counter-box-container .pnt-counter-box .pnt-counter-box-inner .pnt-counter .counter-circle.active {
  background: url(../images/islamic/counter-sprites-b.png) 0 0 no-repeat; }

.progress-wheel .p-f:before, .progress-wheel .p-h:before, [data-valuenow="100"] .p-f:after, [data-valuenow="100"] .p-h:after, .onoffswitch-switch {
  background: #007681; }

[data-valuenow="33"] .p-h:before, [data-valuenow="33"] .p-f:before, [data-valuenow="67"] .p-h:before, [data-valuenow="67"] .p-f:before, [data-valuenow="100"] .p-h:before, [data-valuenow="100"] .p-f:before {
  -webkit-box-shadow: 0 0 0 1px #007681;
  box-shadow: 0 0 0 1px #007681; }

.panel-group .panel-heading .panel-title a.collapsed:after {
  background: url(../images/islamic/plus-accor.png) no-repeat center center; }

.invest-graph-outer .invest-graph-panel .graph-container .graph-body .graph-bar.red {
  background: #007681; }

.text-button, .checkout-mob .checkout-con-mob .co-box .co-box-inner h4, .checkout-mob .checkout-con-mob .co-box .co-box-inner .checkout table td h5, .checkout table td .checkout-mob .checkout-con-mob .co-box .co-box-inner h5, .checkout-mob .checkout-con-mob .co-box .co-box-inner .less-n-more-btn, .checkout-mob .checkout-con-mob .co-box-footer .co-box-footer-col-1, .checkout-mob .checkout-con-mob .co-box.no-product-box a, .checkout table td h4 {
  color: #007681; }

.text-button:after {
  background: url(../images/islamic/arrow-icon.png) center center no-repeat #fff; }

@media screen and (max-width: 1000px) {
  .panel-in {
    background: #e7f1f2; } }

@media screen and (max-width: 767px) and (min-width: 320px) {
  header a.logo {
    height: 26px; } }

.bx-wrapper .bx-prev {
  background: url(../images/islamic/go-left.png) no-repeat 0 0; }

.bx-wrapper .bx-next {
  background: url(../images/islamic/go-right.png) no-repeat 0 0; }

.bundle-selector ul li .box-inner h2, .bundle-selector ul li .box-inner h3 {
  color: #007681; }

.bundle-selector ul li {
  background: url(../images/patterns/pattern-bundle-isl.png) no-repeat 0 0/cover; }
  .bundle-selector ul li.active {
    background: url(../images/patterns/pattern-bundle-active-isl.png) no-repeat 0 0/cover; }

/*# sourceMappingURL=style-islamic.css.map */