@import "../bourbon/_bourbon";
@import "imports/_functions";
@import "imports/_fontface";
@import "imports/_reset";
@import "imports/_header";
@import "imports/_navigation";
@import "imports/_banner-content";
@import "imports/_footer";
@import "imports/_master-cont";
@import "imports/_overlay";
@import "imports/_choose-bundle";
@import "imports/_side-panel";
@import "imports/_puzzle";
@import "imports/_islamic";
@import "imports/_progress-circle";
@import "imports/standard";

a {
  transition: 400ms all ease;
}

.cont-wrap {
  width: calc(100% - 100px);
  display: inline-block;
  margin-left: 100px;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #ee0209;
  font-family: 'Museo Sans 900';
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 46px 11px 46px;
  position: relative;
  outline: none;
  &:hover {
    background: #bb0308;
  }
}

.btn-tick {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #ee0209;
  font-family: 'Museo Sans 900';
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 39px 11px 53px;
  position: relative;
  outline: none;
  &:before {
    content: '';
    width: 15px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 32px;
    background: url(../images/tick-img.png) no-repeat 0 0;
    margin-top: -8px;
  }
  &:hover {
    background: #bb0308;
  }
}

.btn-black {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #000000;
  font-family: 'Museo Sans 900';
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 28px 11px 28px;
  position: relative;
  outline: none;
  &:hover {
    background: #000000;
  }
}

.cont-inner-left {
  width: calc(100% - 325px);
  float: left;
  .cont-sec {
    border: 0 none;
  }
}

.cont-inner-right {
  width: 325px;
  float: right;
}












/*.button {
  display: inline-block;
  cursor: pointer;
  .btn-hover, .btn-active {
    display: none;
  }
  &.active {
    .btn-active {
      display: inline-block;
    }
    .btn-normal, .btn-hover {
      display: none;
    }
  }
}*/

.button {
  display: inline-block;
  cursor: pointer;
  .btn-hover {
    display: none;
  }
  &.active {
    .btn-active {
      display: inline-block;
    }
    .btn-normal {
      display: none;
    }
    .btn-active {
      &:hover {
        opacity: 1 !important;
      }
    }
  }
}

.no-touch .button {
  &:hover {
    .btn-normal {
      opacity: 0.8;
    }
  }
}

/*.no-touch .button {
  &:hover {
    .btn-normal {
      display: none;
    }
    .btn-hover {
      display: inline-block;
    }
  }
}*/

/*.no-touch .button {
  &:hover {
    .btn-normal, .btn-active {
      display: none;
    }
    .btn-hover {
      display: inline-block;
    }
  }
  &.active {
    .btn-active {
      display: inline-block;
    }
    .btn-normal, .btn-hover {
      display: none;
    }
  }
}*/










/*.no-touch .buttons-set2 .button {
  img {
    opacity: .8;
  }
  &:hover {
    img {
      opacity: 1;
    }
    .btn-active {
      display: none;
    }
    .btn-normal {
      display: inline-block;
    }
  }
  &.active {
    .btn-active {
      display: inline-block;
    }
    .btn-normal, .btn-hover {
      display: none;
    }
  }
}*/

.two-col-layout {
  header {
    position: fixed;
    top: 0;
    left: 100px;
    width: calc(100% - 100px);
    z-index: 4;
  }
  footer {
    width: calc(100% - 325px);
  }
  .two-col-cont {
    width: 100%;
    display: inline-block;
    margin: 90px 0 110px 0;
    position: relative;
  }
}

.layout-example {
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  footer {
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .two-col-cont {
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .side-panel {
    height: calc(100% - 0px);
  }
  .adv-btn {
    bottom: 0;
  }
}

.pnt-counter-box-container {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  .pnt-counter-box {
    border: solid 1px #e1e1e1;
    width: 260px;
    margin: 20px;
    display: inline-block;
    min-height: 308px;
    vertical-align: top;
    .pnt-heading {
      background-color: #333f48;
      color: #ffffff;
      font-size: 16px;
      font-family: "Museo Sans 700";
      padding: 20px 22px;
      margin: 0 0 20px;
      text-align: left;
    }
    .pnt-counter-box-inner {
      padding: 20px;
      .pnt-counter {
        display: table;
        margin: 0 auto;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        > * {
          margin: 0 10px;
          display: table-cell;
          vertical-align: middle;
        }
        .dec,
        .inc {
          display: inline-block;
          width: 25px;
          height: 25px;
          cursor: pointer;
        }
        .dec {
          background: url("../images/dec.png") 0 0 no-repeat;
        }
        .inc {
          background: url("../images/inc.png") 0 0 no-repeat;
        }
        .counter-circle {
          background: url("../images/counter-sprites-a.png") 0 0 no-repeat;
          color: #ffffff;
          text-align: center;
          font-size: 60px;
          font-family: "Museo Sans 500";
          width: 93px;
          height: 93px;
          display: inline-block;
          line-height: 93px;
          &.active {
            background: url("../images/counter-sprites-b.png") 0 0 no-repeat;
          }
        }
      }
    }
    p {
      font-size: 11px;
      color: #333f48;
      margin-top: 30px;
    }
  }
}

.wrapper {
  width: calc(100% - 40px);
  max-width: 1190px;
  box-sizing: border-box;
  margin: 50px auto 0;
  > h3 {
    font: bold 21px 'Museo Sans 700';
    color: #2e2e2e;
  }
}

.bullet {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  li {
    margin: 0 0 12px 0;
    position: relative;
    img {
      position: absolute;
      left: 0;
      top: 5px;
      width: 13px;
    }
    em {
      color: #000;
      font: normal 16px 'Museo Sans 500';
      margin: 0 0 0 25px;
      text-align: left;
      display: block;
    }
  }
}

.center-con {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  display: table;
}

.center-con.bullets-con {
  text-align: center;
}

.center {
  text-align: center;
}

.center-con-insure {
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  .button-panel {
    margin-left: 87px;
  }
}

.loan-container {
  border: solid 1px #e4e4e4;
  padding: 50px;
  > h3, > h4 {
    display: block;
    font: normal 18px 'Museo Sans 700';
    color: #ffffff;
    margin: -50px -50px 50px;
    padding: 25px 30px;
    background: #333f48;
  }
  label {
    color: #000;
    display: block;
    font: normal 16px 'Museo Sans 500';
    margin-bottom: 10px;
  }
  .form-control {
    border: solid 2px #929090;
    color: #2e2e2e;
    font: normal 30px 'Museo Sans 100';
    height: 60px;
    &:focus {
      border: solid 2px #6d6c6c;
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #2e2e2e;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #2e2e2e;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #2e2e2e;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #2e2e2e;
    }
  }
  select option strong {
    color: red;
  }
}

.switch-button-con {
  text-align: center;
  .lead {
    color: #2e2e2e;
    font-size: 20px;
    vertical-align: top;
    margin-right: 10px;
  }
}

.onoffswitch {
  border: solid 1px #959595;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  label {
    color: #2e2e2e;
    margin-bottom: 0;
  }
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 19px;
  padding: 0;
  line-height: 19px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  text-align: left;
}

.onoffswitch-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #FFFFFF;
  color: #2e2e2e;
}

.onoffswitch-inner:after {
  content: "NO";
  padding-right: 10px;
  color: #2e2e2e;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 23px;
  height: 23px;
  background: #EF0208;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 45px;
  box-shadow: inset 0 0 0 2px white;
  border: 1px solid #959595;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.form-control:focus {
  border-color: #989898;
}

.custom-select {
  position: relative;
  &:after {
    background: url(../images/down-arrow.png) center center no-repeat #ffffff;
    content: '';
    width: 45px;
    height: 56px;
    position: absolute;
    top: 2px;
    right: 2px;
    pointer-events: none;
  }
}

.estimate-loan {
  min-width: 800px;
  width: 100%;
  .el-column {
    display: inline-block;
    width: 30.33%;
    float: left;
    margin: 0 4% 0 0;
    vertical-align: top;
    &:last-child {
      margin: 0;
    }
    p {
      color: #000;
      font: normal 18px 'Museo Sans 700';
      margin-bottom: 25px;
    }
  }
  .interest-rate {
    color: #828282;
    font: normal 30px 'Museo Sans 700';
  }
  .currency {
    color: #828282;
    font: normal 30px 'Museo Sans 100';
    strong {
      font: normal 30px 'Museo Sans 700';
    }
  }
}

.percentage-counter {
  position: relative;
  .dec,
  .inc {
    cursor: pointer;
    position: absolute;
    top: 21px;
  }
  .dec {
    left: 25px;
  }
  .inc {
    right: 25px;
  }
}

.percentage-counter {
  .form-control[readonly] {
    background: #ffffff;
  }
}

.small-tag {
  font: normal 14px 'Museo Sans 300';
  display: inline-block;
  margin-top: 10px;
}

.checkbox {
  display: inline-block;
  position: relative;
  input[type=checkbox] {
    width: 25px;
    height: 23px;
    position: absolute;
    top: -3px;
    right: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    &:checked ~ div {
      background: url("../images/checkbox-icon-b.png") no-repeat left top;
    }
  }
  div {
    background: url("../images/checkbox-icon-a.png") no-repeat left top;
    width: 25px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  label {
    color: #2e2e2e;
    font: normal 20px 'Museo Sans 500';
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    padding: 0 40px 0 0;
  }
}

.loan-container {
  .checkbox {
    margin: 0 15px;
  }
}

.one-tabs {
  ul {
    li {
      width: 100%;
    }
  }
}

.panel-group {
  .panel-heading {
    padding: 0;
    .panel-title {
      font: normal 16px 'Museo Sans 700';
      margin: 0;
      a {
        background-color: #333f48;
        display: block;
        color: #fff;
        padding: 24px 50px 24px 35px;
        position: relative;
        &:after {
          content: '';
          width: 20px;
          height: 20px;
          background: url(../images/minus-accor.png) no-repeat center center;
          position: absolute;
          margin-top: -10px;
          top: 50%;
          right: 30px;
        }
        &.collapsed {
          background-color: #e5e6e8;
          color: #333f48;
          &:after {
            background: url(../images/plus-accor.png) no-repeat center center;
          }
        }
      }
    }
  }
}

.form {
  width: 100%;

  fieldset {
    width: 100%;
    border: none;
    margin: 0 0 26px 0;
    padding: 0;
    &.error {
      input {
        border: 1px solid #ee0209;
        box-shadow: none;
      }
    }
    label {
      width: 100%;
      font: normal 16px 'Museo Sans 500';
      margin-bottom: 12px;
      text-align: left;

    }
    input {
      width: 100%;
      padding: 12px 20px;
      border: 1px solid #cecece;
      font: normal 30px 'Museo Sans 700';
      color: #2e2e2e;
      outline: none;
      text-align: center;
    }
  }
  em {
    width: 100%;
    display: inline-block;
    font: normal 14px 'Museo Sans 500';
    margin-bottom: 6px;
  }
  .re-code {
    width: 100%;
    display: inline-block;
    font: normal 14px 'Museo Sans 700';
    color: #ee0209;
    margin-bottom: 42px;
    &:hover {
      color: #bb0308;
    }
  }
}

.insure-tab,
.save-tab {
  .panel-body {
    text-align: center;
  }
  p {
    width: 100%;
    font: normal 16px 'Museo Sans 500';
    color: #2e2e2e;
    margin: 25px 0 35px;
  }
  h1, h3 {
    width: 100%;
    font: normal 22px 'Museo Sans 700';
    color: #2e2e2e;
    margin: 5px 0 26px;
  }
  .accordion-fill {
    background: #FFF;
    border-bottom: solid 1px #c0c0c0;
    float: left;
    .accordion-toggle.collapsed {
      background: #e5e6e8;
      color: #333f48;
    }
    .edit-body {
      border: solid 1px #e4e4e4;
    }
    .accordion-toggle {
      float: left;
    }
  }
  a.button {
    margin-bottom: 20px;
    .btn-active, .btn-hover{
      display: none;
    }
    &.active {
      .btn-normal, .btn-hover {
        display: none;
      }
      .btn-active{
        display: inline-block;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  .form {
    width: 50%;
    display: inline-block;
    fieldset input {
      text-align: left;
      font: normal 30px 'Museo Sans 100';
    }
  }
  .center-con {
    margin-bottom: 30px;
    .button {
      margin: 0 15px;
    }
    .button.sa-ac-next-btn {
      margin-right: 50px;
    }
  }
  .only-btn {
    margin-top: 15px;
  }
  .cards-con {
    margin-bottom: 20px;
    h1, h3 {
      margin: 21px 0 10px 0;
    }
    .cards {
      display: inline-block;
      margin-top: 20px;
      margin-right: 4px;
      img.active {
        display: none;
      }
    }
  }
  .invest-detail {
    width: 565px;
    text-align: left;
    margin: 30px auto 0 auto;
    .form {
      width: 100%;
      text-align: left;
    }
    p {
      margin: 25px 0 16px;
    }
  }
}

.invest-graph {
  font-family: 'Museo Sans 500';
  margin-top: 14px;
  .invest-graph-con {
    width: 70px;
    display: inline-block;
    &:nth-child(2) {
      margin: 0 120px;
    }
  }
  .invest-graph-value {
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .graph {
    width: 100%;
    min-height: 20px;
    margin-bottom: 10px;
    &.gray {
      background: #e5e6e8;
    }
    &.red {
      background: #a32129;
    }
    &.darker-gray {
      background: #333f48;
    }
  }
  .graph-title {
    font-size: 16px;
    text-align: left;
  }
}

.year-counter {
  position: relative;
  max-width: 235px;
  margin: 35px auto 40px auto;
  .form-control[readonly] {
    background: #ffffff;
    border: solid 1px #cecece;
    color: #000;
    font: normal 30px 'Museo Sans 700';
    height: 60px;
  }
  .dec,
  .inc {
    cursor: pointer;
    position: absolute;
    top: 21px;
  }
  .dec {
    left: 25px;
  }
  .inc {
    right: 25px;
  }
}

.bullets-con {
  .button-panel {
    margin-left: 0;
  }
}

.panel-group .panel-body .center-con .button {
  margin-top: 15px;
}

.panel-group .panel-body .invest-button-group1 {
  margin-bottom: 10px;
}

.detail-edit.opened .ed-btn {
  display: none;
}

.next-accr-open {
  cursor: pointer;
}

.credit-card-tab .cards-con {
  //display: none;
  min-height: 200px;
}

.card-carousel {
  width: 660px;
  img {
    max-width: 100%;
  }
}

.no-click {
  pointer-events: none;
  cursor: not-allowed;
}

.no-touch .insure-tab .cards-con .cards {
  &:hover {
    img.normal {
      display: none;
    }
    img.active {
      display: inline-block;
    }
  }
}

.touch .insure-tab .cards-con .cards {
  &.active {
    img.normal {
      display: none;
    }
    img.active {
      display: inline-block;
    }
  }
}

.form-group.error input {
  border: 2px solid #ee0209;
  box-shadow: none;
}

.total-touchpoints-widget {
  width: 100%;
  padding: 20px 20px 15px;
  background: #ffffff;
  border-bottom: 1px solid #c0c0c0;
  display: none;
  h5 {
    width: 100%;
    font: normal 12px 'Museo Sans 700';
    color: #ef0208;
    margin: 0 0 5px 0;
    text-transform: inherit;
  }
  strong {
    width: 100%;
    font: normal 30px 'Museo Sans 900';
    color: #333f48;
    margin: 0;
  }
}

.custom-drop-down-container {
  border: solid 1px #cecece;
  display: inline-block;
  width: 100%;
  position: relative;
  height: 60px;
  outline: none;
  text-align: left;
  .dd-default-state {
    font: normal 30px 'Museo Sans 700';
    color: #2e2e2e;
    padding: 16px 40px 16px 20px;
    cursor: pointer;
    height: 55px;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .dd-icon {
    background: url(../images/down-arrow2.png) center center no-repeat #fff;
    width: 45px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    pointer-events: none;
  }
  .custom-drop-down {
    background-color: #fff;
    border: solid #cecece;
    border-width: 0 1px 1px 1px;
    display: none;
    position: absolute;
    left: -1px;
    width: calc(100% + 2px);
    z-index: 2;
    text-align: left;
    padding: 0;
    li {
      list-style-type: none;
      a {
        font: normal 30px 'Museo Sans 700';
        color: #2e2e2e;
        padding: 13px 20px;
        height: 60px;
        display: block;
        transition: 100ms all ease;
        &:hover {
          color: #ee0209;
        }
      }
      &.list-active {
        a {
          background-color: #e6e6e6;
        }
      }
      &.hide {
        display: none;
      }
    }
  }
  &.active {
    .dd-icon {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

[data-valuenow="33"] .p-f:after {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  content: '';
  display: table;
  position: absolute;
  width: 86px;
  height: 1px;
  background: white;
  left: 110px;
  top: 46px;
}

[data-valuenow="67"] .p-h:before {
  border: solid 2px white;
  height: 171px;
  width: 50.5%;
}

[data-valuenow="67"] .p-f:before {
  -webkit-transform: rotate(117deg);
  -moz-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  -o-transform: rotate(117deg);
  transform: rotate(117deg);
}

[data-valuenow="100"] .p-h:after {
  -webkit-transform: rotate(205deg);
  -moz-transform: rotate(205deg);
  -ms-transform: rotate(205deg);
  -o-transform: rotate(205deg);
  transform: rotate(205deg);
  content: '';
  display: table;
  position: absolute;
  background: #ef0208;
  border: solid 2px white;
  width: 200px;
  height: 200px;
  left: 50px;
  top: -100px;
}

[data-valuenow="100"] .p-f:before {
  -webkit-transform: rotate(178deg);
  -moz-transform: rotate(178deg);
  -ms-transform: rotate(178deg);
  -o-transform: rotate(178deg);
  transform: rotate(178deg);
}

[data-valuenow="100"] .p-f:after {
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  transform: rotate(140deg);
  content: '';
  display: table;
  position: absolute;
  background: #ef0208;
  border: solid 2px white;
  width: 200px;
  height: 200px;
  left: -20px;
  top: -134px;
}

#progress-circle[data-valuenow="100"]:after {
  background: #ffffff;
  content: '';
  width: 2px;
  height: 23px;
  left: 83px;
  top: 0;
  display: inline-block;
  z-index: 999;
  position: absolute;
}

.text-button {
  color: #ee0209;
  display: inline-block;
  font: normal 12px 'Museo Sans 900';
  text-transform: inherit;
  &:after {
    background: url(../images/arrow-icon.png) center center no-repeat #fff;
    content: '';
    width: 13px;
    height: 9px;
    display: inline-block;
    margin-left: 10px;
  }
}

.panel-body .bullets-con {
  margin-bottom: 0;
  .text-button {
    margin-top: 20px;
  }
}

.switch-button-small {
  width: 42px;
  .onoffswitch-inner:before,
  .onoffswitch-inner:after {
    height: 12px;
    font-size: 10px;
    line-height: 14px;
  }
  .onoffswitch-label {
    border-width: 1px;
  }
  .onoffswitch-switch {
    width: 14px;
    height: 14px;
    box-shadow: none;
    border: 0 none;
    border-radius: 20px;
  }
  .onoffswitch-inner:before {
    padding-left: 6px;
  }
  .onoffswitch-inner:after {
    padding-right: 2px;
  }
  .onoffswitch-switch {
    right: 26px;
  }
}

.bullet .switch-button-small {
  margin-left: 10px;
  vertical-align: bottom;
}

.button-panel .text-button {
  margin-left: 25px;
  margin-right: 25px;
}

.invest-graph-outer {
  float: left;
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  .button-panel-tree {
    float: left;
    margin-right: 40px;
    margin-left: 10px;
    margin-bottom: 25px;
    .button-steps-tree {
      float: left;
      width: 18px;
      background: url(../images/streak.png) center top no-repeat;
      margin-top: 13px;
      height: 450px;
      padding: 18px 0 0 0;
      .bst-circle {
        background: #000;
        border-radius: 100% 100%;
        display: table;
        width: 17px;
        height: 3px;
        margin-bottom: 96px;
        margin-left: 2px;
        /*  &:last-child {
            margin-bottom: 0;
          }
          &:nth-child(2) {
            background-color: #c0c9d0;
          }
          &:nth-child(3) {
            background-color: #949fa6;
          }
          &:nth-child(4) {
            background-color: #676f76;
          }
          &:nth-child(5) {
            background-color: #333f48;
          }*/
      }
    }
    .button-step-panel {
      float: left;
      .button {
        display: block;
        margin-bottom: 59px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .invest-graph-panel {
    float: left;
    .graph-container {
      float: left;
      width: 100%;
      position: relative;
      .graph-body {
        background: url("../images/pattern.png");
        border-left: solid 1px #e5e6e8;
        border-right: solid 1px #e5e6e8;
        position: relative;
        min-height: 335px;
        padding: 15px 35px;
        float: left;
        width: 100%;
        .graph-bar {
          position: absolute;
          width: 83px;
          min-height: 10px;
          p {
            color: #000;
            font: normal 14px 'Museo Sans 700';
            position: absolute;
            top: 12px;
            text-align: center;
            margin: 0;
          }
          &.grey {
            background: #e5e6e8;
            p {
              color: #000;
            }
          }
          &.red {
            background: #a32129;
            p {
              color: #ffffff;
            }
          }
          &.dark-grey {
            background: #333f48;
            p {
              color: #ffffff;
            }
          }
        }
      }
      .graph-header,
      .graph-footer {
        display: table;
        text-align: center;
        width: 100%;
        h2,
        h3 {
          display: table-cell;
          vertical-align: middle;
          color: #ffffff;
          font: normal 16px 'Museo Sans 900';
          width: auto;
        }
      }
      .graph-header {
        height: 48px;
      }
      .graph-footer {
        .separator {
          background: #b7b7b9;
          width: 2px;
          display: inline-block;
          height: 100%;
        }
      }
    }
    .year-counter {
      margin: 0;
      width: 100%;
    }
    .graph-footer {
      height: 60px;
    }
    .graph-small {
      width: 150px;
      margin-right: 15px;
      .graph-header {
        background: url(../images/chart-bd-top-small.png) center top no-repeat;
      }
      .graph-footer {
        background: url(../images/chart-bd-bottom-small.png) center bottom no-repeat;
      }
      .graph-body {
        .graph-bar {
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .graph-large {
      width: 286px;
      .graph-header {
        background: url(../images/chart-bd-top-large.png) center top no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
      }
      .graph-body {
        .graph-bar {
          bottom: 0;
          &:first-child {
            left: 33px;
          }
          &:last-child {
            right: 33px;
          }
        }
      }
      .graph-footer {
        background: url(../images/chart-bd-bottom-large.png) center bottom no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
      }
    }
  }
}

.panel-body.text-left {
  text-align: left;
}

@-moz-document url-prefix() {
  .side-panel .panel-in.accordion-fill {
    margin-bottom: 70px;
  }
  .banner-content fieldset .currency-cont input[type="number"] {
    padding: 8px 10px 9px 0;
  }
  .bundle-table table {
    width: 99.95%;
    margin-left: 0.1%;
  }


}

.intrested {
  float: left;
  padding: 60px 0 0 0;
  margin: 60px 0;
  border-top: 1px solid #ccc;
  width: 100%;
  text-align: center;
}

.intrested h2 {
  width: 100%;
  font: normal 18px 'Museo Sans 700';
  color: #ee0209;
  letter-spacing: 3px;
  margin: 0 0 20px 0;
  text-transform: inherit;
  padding: 0 20px;
}
.cont-inner-left .intrested h2 {
  text-transform: none;
}

.intrested p {
  max-width: 750px;
  margin: auto auto 70px auto;
  width: 100%;
  font: normal 22px 'Museo Sans 500';
  color: #2e2e2e;
  padding: 0 20px;
}

.intrested ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.intrested ul li {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 55px 10px;
  cursor: pointer;
}

.intrested ul li .box-inner {
  display: block;
  position: relative;
  z-index: 1;
}

.intrested ul li .box-inner .bundle-selected-bg {
  display: none;
}

.bundle-selector.w100 li {
  width: 100%;
}

.intrested ul .box-inner .heading-con {
  display: table;
  width: 100%;
  min-height: 60px;
}

.intrested ul .box-inner .heading-con .heading-inner {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.intrested ul .box-inner h2 {
  width: 100%;
  display: block;
  font: normal 26px 'Museo Sans 700';
  margin: 0;
  color: #ffffff;
}

.intrested ul .box-inner .hcontrl {
  min-height: 115px;
  float: left;
  width: 100%;
}

.intrested ul .box-inner img {
  display: inline;
}

.intrested ul .box-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -43px;
  outline: 0;
  width: 65px;
  height: 104px;
  text-indent: -9999px;
  z-index: 2;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/go-left.png) no-repeat 0 0;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../images/go-right.png) no-repeat 0 0;
}

.visible-mobile {
  display: none;
}

.has-card-carousel-mobile-wrapper {
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -30px;
  }

  .bx-wrapper .bx-controls-direction a {
    margin-top: -9px;
    width: 10px;
    height: 19px;
  }

  .bx-wrapper .bx-prev {
    left: 0;
    background: url(../images/left-arrow.png) no-repeat 0 0;
  }

  .bx-wrapper .bx-next {
    right: 0;
    background: url(../images/right-arrow.png) no-repeat 0 0;
  }
  .bx-wrapper .disabled {
    opacity: 0.2;
  }
}

.checkout-mob {
  width: 100%;
  .checkout-con-mob {
    > h2 {
      background: #000000;
      color: #fff;
      font: normal 15px/16px "Museo Sans 700" !important;
      padding: 16px 20px 11px;
      margin: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .co-box {
      > h2 {
        background-color: #3f4a54;
        border-top: solid 1px #9a9fa2;
        color: #fff;
        font: normal 15px/16px "Museo Sans 700" !important;
        margin: 0;
        padding: 12px;
        text-transform: initial;
        img {
          vertical-align: baseline;
          margin-right: 10px;
          margin-bottom: -1px;
        }
      }
      .co-box-inner {
        border: solid 1px #d6d6d6;
        padding: 15px;
        .edit-icon, .delete-icon {
          float: right;
          margin-left: 10px;
        }
        h2 {
          color: #33333c;
          font: normal 13px/16px "Museo Sans 700" !important;
          margin-top: 10px;
        }
        p {
          margin-bottom: 5px;
        }
        h3 {
          font-size: 14px;
          margin-top: 15px;
        }
        h4 {
          color: #ef0208;
          font-family: "Museo Sans 700";
          font-size: 12px;
          text-transform: inherit;
          margin-bottom: 0;
        }
        h5 {
          color: #33333c;
          font-family: "Museo Sans 900";
          font-size: 14px;
          margin-top: 0;
        }
        .toggle-box {
          display: none;
        }
        .less-n-more-btn {
          color: #ef0208;
          text-decoration: underline;
          cursor: pointer;
          display: inline-block;
        }
      }
      &.no-product-box {
        border: solid 1px #d6d6d6;
        padding: 20px 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        a {
          color: #ef0208;
          text-decoration: underline;
        }
      }
    }
    .co-box-footer {
      background: #e6e6e6;
      border: solid 1px #d6d6d6;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      overflow: hidden;
      .cobf-inner {
        display: table;
        width: 100%;
        margin-top: 9px;
      }
      .co-box-footer-col-1, .co-box-footer-col-2 {
        background: #ffffff;
        display: table-cell;
        vertical-align: middle;
        border-top: solid 1px #d6d6d6;
        padding: 13px 13px;
      }
      .co-box-footer-col-1 {
        color: #ef0208;
        font-family: "Museo Sans 700";
        font-size: 12px;
        margin-top: -1px;
      }
      .co-box-footer-col-2 {
        text-align: right;
        color: #33333c;
        font-family: "Museo Sans 900";
        font-size: 19px;
      }
      .co-last-row {
        background: #474747;
        .co-box-footer-col-1, .co-box-footer-col-2 {
          background: #474747;
          color: #ffffff;
        }
      }
    }
  }
}

.bullets-con.mar-top-35 ul li:nth-child(3),
.existbtn h4,
div.lang-switch {
  //display: none !important;
}

.accordion .collapse-summary.existbtn {
  padding: 30px 32px 20px 32px;
}

.panel-group .panel-body .center-con.flbtn .button {
  float: left;
  max-width: 200px;
}

.panel-group .panel-body .center-con.flbtn p {
  font-size: 14px;
  line-height: 18px;
}

.insure-tab .cards-con .cards.active img.normal {
  display: none !important;
}

.insure-tab .cards-con .cards.active img.active {
  display: inline-block;
}

/*.dynamicID > div:first-child {
  display: block;
}*/






.carousel-slides-1 > div:nth-child(1) {
  display: block;
}

.carousel-slides-2 > div:nth-child(1) {
  display: block;
}

.carousel-slides-3 > div:nth-child(2) {
  display: block;
}

.carousel-slides-4 > div:nth-child(2) {
  display: block;
}

.carousel-slides-5 > div:nth-child(4) {
  display: block;
}

.carousel-slides-6 > div:nth-child(5) {
  display: block;
}

.carousel-slides-7 > div:nth-child(6) {
  display: block;
}

.carousel-slides-8 > div:nth-child(4) {
  display: block;
}

.carousel-slides-9 > div:nth-child(8) {
  display: block;
}

.carousel-slides-10 > div:nth-child(9) {
  display: block;
}

.carousel-slides-11 > div:nth-child(10) {
  display: block;
}

.carousel-slides-12 > div:nth-child(11) {
  display: block;
}

.carousel-slides-13 > div:nth-child(12) {
  display: block;
}

.carousel-slides-14 > div:nth-child(13) {
  display: block;
}

.carousel-slides-15 > div:nth-child(14) {
  display: block;
}

.carousel-slides-16 > div:nth-child(15) {
  display: block;
}

.carousel-slides-17 > div:nth-child(16) {
  display: block;
}

.carousel-slides-18 > div:nth-child(17) {
  display: block;
}

.carousel-slides-19 > div:nth-child(18) {
  display: block;
}

.carousel-slides-20 > div:nth-child(19) {
  display: block;
}

.hide-n-show-info-wrapper {
  .benefits {
    display: none;
    ul.bullet {
      float: left;
      padding: 0;
      width: calc(100% + 20px);
      margin: 0 -10px 15px;
      li {
        width: calc(50% - 20px);
        margin: 0 10px;
      }
    }
  }
}

.bullets-two-col {
  padding: 0;
  li {
    padding: 0 20px;
    &:nth-child(2n+3) {
      clear: left;
    }
    em {
      margin: 0;
    }
  }
}

.clear-both {
  clear: both;
}

div.bundle-inner table tr th {
  width: 15%;
}

div.extra {
  margin-top: 80px;
}

.no-scroll {
  overflow: hidden !important;
}

.custom-select.error select {
  border: 1px solid #ee0209;
  box-shadow: none;
}

::-webkit-input-placeholder {
  color: #dddddd;
}

::-moz-placeholder {
  color: #dddddd;
}

:-ms-input-placeholder {
  color: #dddddd;
}

:-moz-placeholder {
  color: #dddddd;
}

.feature-box-two-col-nested.w100 {
  .checkbox {
    margin: 5px 15px;
    label {
      color: #FFFFFF;
    }
  }
  .new {
    text-align: center;
    padding: 10px 0;
  }
  .bullet {
    display: table;
    margin: 0 auto;
    border-spacing: 10px 10px;
    padding: 0;
    li {
      display: table-cell;
      width: auto;
      float: none;
      > p {
        color: #000;
        font: normal 18px 'Museo Sans 700';
        margin-bottom: 12px;
      }
      .interest-rate {
        color: #454545;
        font: normal 30px 'Museo Sans 700';
      }
      .currency {
        color: #707070;
        font: normal 30px 'Museo Sans 100';
        strong {
          color: #454545;
          font: normal 30px 'Museo Sans 700';
          margin-left: 8px;
        }
      }
    }
  }
  .three-list {
    li {
      &:nth-child(2) {
        padding: 0 20px;
      }
      > p {
        font-size: 17px;
      }
    }
  }
}

.carousel-container-common {
  margin: 0 auto;
  > div > div:nth-child(3) > div:nth-child(1) > div > div {
    background: #ffffff !important;
    border-radius: 10px;
    img {
      opacity: 0.4;
    }
  }
  .active-slide {
    z-index: 9999 !important;
    img {
      opacity: 1 !important;
    }
  }
  .has-slider {
    position: absolute;
    left: -5000px;
    z-index: -15;
  }
}

.carousel-inner-common, .carousel-inner-common ul {
  margin: 0;
  padding: 0;
  img {
    max-width: 100%;
    margin: 10px 0;
    opacity: .5;
    &.active {
      opacity: 1;
    }
  }
}

.checkout table {
  width: 100%;
  td:first-child {
    width: 10%;
  }
}
table.checkout-table-fix-4-col {
  tr:not(.total, .tfoot) {
    td {
      width: auto !important;
      &:nth-child(1) {
        width: 18% !important;
      }
      &:nth-child(2) {
        width: 58% !important;
      }
      &:nth-child(3) {
        width: 15% !important;
      }
    }
  }
}
table.checkout-table-fix-5-col {
  tr:not(.total, .tfoot) {
    td {
      width: auto !important;
      &:nth-child(1) {
        width: 20% !important;
      }
      &:nth-child(2) {
        width: 20% !important;
      }
      &:nth-child(3) {
        width: 15% !important;
      }
      &:nth-child(4) {
        width: 25% !important;
      }
    }
  }
}

.bottom-align-buttons {
  .row .col-md-6 {
    position: relative;
    padding-bottom: 90px;
    .button {
      position: absolute;
      bottom: 40px;
      left:50%;
      margin-left: -68px;
    }
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  align-self:flex-end;
}
.row-align-bottom {
  align-items: flex-end;
}

.ie {
  .cont-wrap .cont-inner-left .wrapper {
    clear: both;
    padding-top: 50px;
    > h3 {
    }
  }
}

.puzzle-cont .puzzle-cont-inner {
  .product-category + em, .points {
    display: none;
  }
}

@import "imports/_responsive";
@import "imports/_islamic";
