@import "../../bourbon/_bourbon";
@import "functions";

.banner-content {
  border-bottom: solid 1px #cccccc;
  width: 100%;
  display: block;
  background: url("../images/patterns/pattern-large-conv.png") no-repeat 0 0 / cover;
  text-align: center;
  padding: 25px 0;
  box-sizing: border-box;
  .currency-icon {
    margin-bottom: 15px;
  }
  .alert-validation {
    visibility: hidden;
    color: #000;
    text-align: left;
    font: normal 14px 'Museo Sans 300';
    margin: -15px 0 25px;
    float: left;
    width: 100%;
  }
  img {
    /*margin-bottom: 30px;*/
  }

  h2 {
    font: normal 26px 'Museo Sans 700';
    color: #000;
    margin: 0 0 32px 0;
  }

  p {
    max-width: 525px;
    font: normal 18px 'Museo Sans 300';
    color: #000;
    margin: 0 auto 25px;
  }

  fieldset {
    width: 355px;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 0;

    label {
      width: 100%;
      font: normal 16px 'Museo Sans 700';
      color: #000;
      margin: 0 0 20px 0;
    }

    .currency-cont {
      width: 100%;
      height: 56px;
      position: relative;
      background: #ffffff;
      float: left;
      border: 2px solid #ee0209;
      margin-bottom: 25px;

      &.error {
        border: 2px solid #ee0209;

        em {
          color: #ee0209;
        }
      }

      em {
        width: 120px;
        color: #2e2e2e;
        font: normal 30px 'Museo Sans 100';
        padding: 0 25px 0 0;
        box-sizing: border-box;
        position: absolute;
        top: 8px;
        left: 0;
      }

      input[type="number"] {
        width: calc(100% - 120px);
        float: right;
        border: none;
        outline: none;
        color: #2e2e2e;
        font: normal 30px 'Museo Sans 700';
        padding: 9px 10px 9px 0;
      }

      .btn {

      }
    }

  }
}

.puzzle-cont {
  max-width: 580px;
  width: 100%;
  height: 524px;
  margin: 0 auto;

  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 0;
  overflow: auto;
  position: relative;

  h3 {
    width: 100%;
    text-align: center;
    font: normal 24px 'Museo Sans 700';
    margin: 0 0 18px 0;
    color: #ffffff;
  }

  > p {
    width: 100%;
    text-align: center;
    font: normal 14px 'Museo Sans 500';
    margin: 0 0 40px 0;
    color: #ffffff;
  }

  .puzzle-cont-inner {
    width: 100%;
    border: 1px solid #59636a;
    border-radius: 10px;
    display: inline-block;

    h4 {
      max-width: 150px;
      max-height: 34px;
      margin: -10px auto 38px;
      font: normal 14px 'Museo Sans 700';
      color: #ee0209;
      padding: 0 10px;
      background: #333f48;
      text-align: center;
      word-break: break-all;
      letter-spacing: 3px;
      overflow: hidden;
    }

    .product-category {
      padding: 0;
      border-bottom: 1px solid #59636a;
      margin: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 5% 30px 0;
        max-width: 26%;
        &:last-child, &:nth-child(3n+3) {
          margin-right: 0;
        }

        em {
          width: 100%;
          text-align: center;
          font: normal 12px 'Museo Sans 500';
          color: #ffffff;
          /*text-transform: uppercase;*/
          float: left;
          clear: both;
        }

        .button {
          float: left;
          margin-bottom: 18px;
        img{
          width: 50%;
        }
        }
      }
    }

    > em {
      width: 100%;
      display: block;
      font: normal 12px 'Museo Sans 500';
      color: #ffffff;
      text-transform: uppercase;
      padding: 15px 40px;
      border-bottom: 1px solid #59636a;
    }

    .points {
      display: inline-block;
      padding: 0 20px;
      margin: 0;
      text-align: center;
      width: 100%;
      li {
        max-width: calc(33% - 10px);
        float: left;
        margin: 0 20px 0 0;
        padding: 20px 0;

        &:last-child, &:nth-child(3n+3) {
          margin-right: 0;
        }

        img {
          float: left;
          width: 13px;
        }

        em {
          width: calc(100% - 23px);
          float: left;
          font: normal 14px 'Museo Sans 500';
          color: #ffffff;
          margin: 0 0 0 10px;
          text-align: left;
        }
      }
    }
  }

  .product-info {
    width: 100%;
    display: block;
    margin: 25px 0 0 0;
    display: none;

    img {
      float: left;
    }

    .info-inner {
      width: calc(100% - 45px);
      float: left;
      margin: 0 0 0 15px;

      p {
        width: 100%;
        font: normal 12px 'Museo Sans 500';
        margin: 0;
        color: #ffffff;
      }

      strong {
        width: 100%;
        font: normal 12px 'Museo Sans 900';
        margin: 0;
        color: #ffffff;
      }
    }
  }

}

.border-line {
  border-top: solid 1px #c3c2bd;
  .col-md-6:last-child {
    border-left: solid 1px #c3c2bd;
  }
}

