@import "../../bourbon/_bourbon";
@import "functions";

.bundle-selector {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      background: url(../images/patterns/pattern-bundle-conv.png) no-repeat 0 0/cover;
      width: 50%;
      float: left;
      position: relative;
      text-align: center;
      padding: 55px 10px;
      cursor: pointer;
      border-right:1px solid #cccccc;
      .box-inner {
        display: block;
        position: relative;
        z-index: 1;
        img {
          margin-bottom: 32px;
        }
        .bundle-selected-bg {
          display: none;
        }
        .active-icon-show {
          display: none;
        }
      }
      .box-inner {
        h2, h3 {
          width: 100%;
          display: block;
          font: normal 26px 'Museo Sans 700';
          margin: 0;
          color: #ec0e1d;
        }
      }
      .box-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      &.active {
        background: url(../images/patterns/pattern-bundle-active-conv.png) no-repeat 0 0/cover;
        border: 0 none;
        img.box-bg {
          display: none;
        }
        .box-inner {
          .bundle-selected-bg {
            display: inline-block;
          }
          .bundle-bg {
            display: none;
          }
          h2, h3 {
            color: #FFFFFF;
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 42px;
          height: 21px;
          background: url("../images/bundle-select-arrow.png") no-repeat;
          bottom: -21px;
          left: 50%;
          margin-left: -21px;
        }
        .active-icon-hide {
          display: none;
        }
        .active-icon-show {
          display: inline-block;
        }
      }
    }
  }
}

.bundle-selector.w100 li {
  width: 100%;
}

.bundle-table {
  width: calc(100% - 40px);
  max-width: 1190px;
  margin: 0 20px;
  box-sizing: border-box;
  margin: 50px auto 0;
  .bundle-inner {
    border-radius: 20px;
    overflow: hidden;
  }
  .bundle-cards {
    width: 100%;
    margin-bottom: 25px;
    tbody {
      border: 0 none;
    }
    tr {
      background: none !important;
      border: 0 none !important;
    }
    td,
    th {
      background: none;
      padding: 0 5px;
      border: 0 none;
      img {
        max-width: 100%;
      }
    }
    tr:last-child td.active {
      background: none !important;
    }
  }

  table {
    width: 99.99%;
    thead {
      background: #000000;
      color: #ffffff;
      font: normal 14px 'Museo Sans 700';
      tr {
        th {
          text-align: center;
          padding: 30px 20px;
          box-sizing: border-box;
          border-right: 1px solid #414141;
          /*text-transform: uppercase;*/
          &:last-child {
            border-right: 0 none;
          }
        }
      }
      th {
        border: 0 none !important;
      }
    }
    tbody {
      border: 1px solid #e5e6e8;
      tr {
        border-bottom: 1px solid #d6d6d6;
        &:last-child {
          background: #e5e6e8;
          .active {
            background-color: #474747 !important;
          }

        }
        th {
          padding: 12px 20px;
          box-sizing: border-box;
          border-right: 1px solid #e5e6e8;
          font: normal 12px 'Museo Sans 700';
          color: #000000;
          width: 200px;
          &:last-child {
            border-right: 0 none;
            font: normal 13px 'Museo Sans 900';
            color: #ec0e1d;
            background: #e5e6e8;
          }
          .tab-icon {
            width: 26px;
            float: left;
            text-align: center;
            margin-right: 10px;
            img {
              max-width: 100%;
              width: auto;
              margin: -5px 0 0 0;
            }
          }

        }
        td {
          text-align: center;
          padding: 12px 20px;
          box-sizing: border-box;
          border-right: 1px solid #e5e6e8;
          position: relative;
          &:last-child {
            border-right: 0 none;
          }
          &.active {
            background: #e5e5e5;
          }
          p {
            width: 100%;
            display: inline-block;
            font: normal 12px 'Museo Sans 500';
            color: #33333c;
            padding: 16px 0;
            margin: 0;
          }
          strong {
            font: normal 24px 'Museo Sans 900';
            color: #333f48;
          }
          label {
            margin: 0;
            cursor: pointer;
            em {
              display: none;
              width: 100%;
              max-width: 80px;
              font: normal 12px 'Museo Sans 900';
              color: #333f48;
              margin: 5px 0 0 0;
              word-wrap: break-word;
            }
          }
          label:before {
            content: "";
            width: 30px;
            height: 30px;
            display: inline-block;
            background: url("../images/radio-button1.png") no-repeat;
          }
          input[type=radio] {
            display: none;
          }
          input[type=radio]:checked + label:before {
            content: "";
            background: url("../images/radio-button2.png") no-repeat;
          }
        }
        &:last-child {
          td {
            &.active {
              background: #e5e6e8;
            }
          }
        }
      }
    }
    .heading {
      background: #e5e6e8;
      th {
        border-right: 0 none;
        font: normal 13px 'Museo Sans 900';
        color: #ec0e1d;
      }
      .active {
        background-color: #474747;
      }
    }
    .heading2 {
      font: normal 13px 'Museo Sans 900';
      color: #ec0e1d;
      text-transform: uppercase;
    }
    .separator > * {
      padding: 5px 0 !important;
    }
    img[src*="table-tick-de-active2"] {
      display: none;
    }
    .active {
      img[src*="table-tick-de-active"] {
        display: none;
      }
      img[src*="table-tick-de-active2"] {
        display: inline-block;
      }
    }
  }
}

.table-btn {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 38px;
  margin-top: 40px;
  .button {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.bundle-table-mob {
  display: none;
  width: calc(100% - 40px);
  overflow: auto;
  margin: 30px auto 0;
  .bundle-table-cont {
    min-width: 2000px;
    .bundle-wrap {
      width: 210px;
      float: left;
      margin: 0 20px 0 0;
      background: #fafafa;
      border-bottom: 2px solid #dadada;
      border-right: 2px solid #dadada;
      border-left: 2px solid #dadada;
      /*&:first-child{
  margin: 0 20px;
}

&:last-child{
  margin: 0;
}*/
      h2 {
        background: #000000;
        font: normal 18px 'Museo Sans 700';
        color: #FFFFFF;
        padding: 30px 20px;
        text-transform: uppercase;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: calc(100% + 4px);
        margin: -20px -2px 0;
      }
      p {
        width: 100%;
        font: normal 14px 'Museo Sans 500';
        color: #33333c;
        padding: 30px 20px;
        margin: 0;
        min-height: 175px;
      }
      .bundle-wrap-img {
        background-color: #fff;
        width: calc(100% + 4px);
        margin: 0 -2px;
        padding-bottom: 20px;
        text-align: center;
        img {
          margin-bottom: 15px;
          max-width: 100%;
        }
      }
    }
  }
}

.bundle-step {
  width: 100%;
  display: inline-block;
  h3 {
    width: 100%;
    margin: 0;
    background: #e5e6e8;
    font: normal 14px 'Museo Sans 900';
    color: #ec0e1d;
    padding: 20px 20px;
  }
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      border-bottom: 1px solid #d6d6d6;
      padding: 20px 20px;
      .tab-icon {
        width: 26px;
        float: left;
        text-align: center;
        margin-right: 10px;
        img {
          max-width: 100%;
          width: auto;
          margin: -5px 0 0 0;
        }
      }
      em {
        font: normal 12px 'Museo Sans 700';
        color: #000000;
      }
      &.disabled {
        opacity: 0.2;
      }
    }
  }
}

.bundle-ben {
  width: 100%;
  display: inline-block;
  h3 {
    width: 100%;
    margin: 0;
    background: #e5e6e8;
    font: normal 14px 'Museo Sans 900';
    color: #ec0e1d;
    padding: 20px 20px;
    text-transform: uppercase;
  }
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      border-bottom: 1px solid #d6d6d6;
      padding: 20px 20px;
      font: normal 12px 'Museo Sans 700';
      color: #000000;
      &.disabled {
        opacity: 0.7;
      }
    }
  }
}

.bundle-points {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #d6d6d6;
  .bundle-touch {
    width: 100%;
    padding: 30px 20px;
    h4 {
      width: 100%;
      margin: 0 0 10px 0;
      font: normal 14px 'Museo Sans 900';
      color: #ec0e1d;
      text-transform: uppercase;
    }
    strong {
      width: 100%;
      font: normal 24px 'Museo Sans 900';
      color: #333f48;
    }
  }
}

.bundle-radio {
  width: 100%;
  text-align: center;
  padding: 20px 20px;
  box-sizing: border-box;
  position: relative;
  background: #e5e6e8;
  input {
    display: none;
  }
  label {
    margin: 0;
    cursor: pointer;
    &:before {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      background: url("../images/radio-button1.png") no-repeat;
    }
    i, em {
      font: normal 20px 'Museo Sans 900';
      color: #333f48;
      margin: 5px 0px 0 10px;
      word-wrap: break-word;
      float: right;
    }
  }
  input[type=radio]:checked + label:before {
    content: "";
    background: url("../images/radio-button2.png") no-repeat;
  }
}

.bundle-table table tbody tr td input[id$=option] {
  display: block;
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 50%;
  margin-left: -7px;
  cursor: pointer;
}

/*.bundle-table table thead tr th:first-child {
  visibility: hidden;
}

.bundle-table table thead tr th:nth-child(2) {
  border-top-left-radius: 20px;
}

.bundle-table table tbody tr:first-child th:first-child {
  visibility: hidden;
}*/

/*.bundle-table table tbody tr:nth-child(2) {
  border-top-left-radius: 20px;
  border-left: solid 1px white;
  th:first-child {
    border-top-left-radius: 20px;
    border-left: solid 1px white;
    border-top: solid 1px white;
  }
}*/

.bundle-inner {
  table {
    thead {
      background: none;
      th {
        background: #000;
          &:first-child {
            visibility: hidden;
          }
          &:nth-child(2) {
            border-top-left-radius: 20px;
          }
      }
    }
    tbody {
      border: 0 none;
      tr {
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        &:first-child {
          border-left: 0 none;
          th {
            &:first-child {
              visibility: hidden;
            }
          }
        }
        &:nth-child(2) {
          border-top-left-radius: 20px;
          border-left: solid 1px white;
          background: none !important;
          th {
            background: #e5e6e8;
            &:first-child {
              border-top-left-radius: 20px;
              border-left: solid 1px white;
              border-top: solid 1px white;
            }
          }
          td {
            background: #e5e6e8;
          }
        }

        th {
          &:first-child {

          }
        }

      }
      td {
        &:first-child {

        }
      }
    }
  }
}

.checkout .wrapper {
  margin-top: 0;
}

$font-500: 'Museo Sans 500';
$font-700: 'Museo Sans 700';
$font-900: 'Museo Sans 900';
.checkout {
  table {
    width: 100%;
    font-family: $font-500;
    border-collapse: collapse;
    th {
      background: #000000;
      color: #fff;
      font-family: $font-700;
      font-size: 14px;
      padding: 20px 2% 20px 2%;
      /*border-right: 1px solid #5f5f5f;*/
      &:nth-child(1) {
        border-top-left-radius: 30px;
      }

      &:last-child {
        border-top-right-radius: 30px;
      }
    }

    tr {
      border: 1px solid #f1f1f1;
      &:first-child, &:last-child {
        border: 0 none;
      }
    }

    td {
      font-size: 12px;
      border: 1px solid #f1f1f1;
      padding: 25px 2%;
      h3 {
        font-family: $font-700;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      h4 {
        @extend h4;
        font-family: "Museo Sans 700";
        font-size: 12px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        color: #ef0208;
      }
      .bigp {
        font-family: $font-900;
        font-size: 18px;
      }
      &:last-child {
        text-align: center;

        a:not(.single) {
          clear: both;
          display: block;
          img {
            text-align: center;
            margin: 0 0 10px 0;
          }
        }
      }

      img {
        display: inline-block;
        margin-right: 5px;
      }
      &:first-child {
        font-family: $font-700;
        width: 20%;
      }
      &:nth-child(2) {
        width: 50%;
      }
      a.single {
        color: red;
        text-decoration: underline;
      }
    }
    tr.total {
      td {
        border: 0;
        border-top: 10px solid #e6e6e6;
        border-bottom: 10px solid #e6e6e6;
        &:first-child {
          font-family: $font-900;
          font-size: 13px;
          color: #ec0e1d;
          text-align: left;

        }
        &:last-child {
          font-family: $font-900;
          font-size: 24px;
          color: #333f48;
          text-align: right;
        }
      }

    }

    tr.tfoot th {
      &:first-child {
        border-radius: 0;
        border-bottom-left-radius: 30px;

      }
      &:last-child {
        border-radius: 0;
        border-bottom-right-radius: 30px;
        font-family: $font-900;
        font-size: 24px;
        text-align: right;
      }
    }
  }
  .container {
    float: left;
    width: 100%;
    mmargin-top: 40px;
    text-align: center;
  }
  .checkout table td:first-child p a {
    display: inline;
    clear: none;
  }

  table.table2 {
    td {
      &:nth-child(2) {
        width: 62%;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
  }
}

.benefits {
  max-width: 255px;
  margin: 20px auto 40px auto;
  text-align: left;
  font-family: $font-500;
  strong {
    text-align: left;
    font-size: 16px;
  }
  ul {
    margin-top: 10px;
  }
  .bene-btn {
    display: inline-block;
    padding: 0 0 0 25px;
  }
}

.calc-touch {
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
  h3 {
    background: #80878d;
    color: #fff;
    padding: 10px 0;
  }
}

.calc-touch.loan-container {
  padding: 0;
  border: 0;
}

.calc-touch.loan-container label {
  font-family: $font-700;
  font-size: 15px;
}

.container.benefits ul:first-child {
  display: block;
}

.container.benefits ul {
  ddisplay: none;
}

.insurance .container.benefits ul {
  display: block;
}

#onshore {
  display: none;
}

.pointer {
  cursor: pointer;
}

.benefits ul li {
  .licontent {

    display: inline-block;
    padding: 20px 0 0 35px;

    strong {
      font-size: 12px;
      color: #ee0209;
    }
    p {
      margin: 0;
      padding: 0 0 15px 0;
      display: inline-block;
      line-height: 18px;
      font-size: 12px;
    }
  }
  a {
    display: inline-block;
    background: url("../images/arrow-right.png") no-repeat;
    width: 15px;
    height: 10px;
    line-height: 10px;
    margin-left: 10px;
  }
  a.active {
    @extend a;
    background: url("../images/arrow-down.png") no-repeat;
    width: 10px;
    height: 15px;
  }
}

.bullet.ul-no, .off-div {
  display: none;
}

.savebtn {
  margin-top: -30px;
  display: inline-block;
}

.colh.benefits {
  max-width: 680px;
  text-align: left;
  margin-top: 50px;
}

.colh.benefits ul li {
  width: 100% !important;
}

.col-6h {
  display: inline-block;
  max-width: 300px;
  float: left;
}

.col-6h ul {
  min-height: 150px;
}

.colh .loan-container {
  margin-top: 20px;
}

.center {
  text-align: center;
}

@media (min-width: 768px) {
  .checkout table tr td br {
    display: none;
  }
}

@media (max-width: 768px) {
  .center {
    text-align: center;
  }
  .container {
    padding: 40px 0 0 0;
    .headimg {
      width: 100%;
      max-width: 593px;
    }
  }
  .cont-sec p:last-child {
    max-width: 750px;
    margin: auto;
    width: 100%;
  }

}

@media (max-width: 640px) {
  .sb-set-1 .only-btn {
    text-align: center;
  }

  .col-6h {
    margin: 0 0 0 5% !important;
  }
  .col-6h, .col-6h ul {
    width: 95%;
    min-width: 95%;
  }

}

a.add-btn {
  display: block;
  padding: 20px 0;
}

.checkout table.t4 tr td:nth-child(1) {
  width: 26.60%;
}

.checkout table.t4 tr td:nth-child(2) {
  width: 36.60%;
}

.checkout table.t4 tr td:nth-child(3) {
  width: 16.60%;
}

.checkout table.t4 tr td:nth-child(4) {
  width: 25%;
}

.checkout table.t4 tr td:nth-child(5) {
  width: 5%;
}

.checkout table.review tr.tfoot th {
  background: none;
  color: #000;
}

.checkout table.review tr td.lastd {
  border: 0;
  padding: 0;
  height: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #f1f1f1;
}

.checkout table.review tr.lastr {
  border: 0;
}

.checkout table.review tr td.tdem {
  padding: 0;
  height: 10px;
  background: #f1f1f1;
}

.checkout table.review tr:nth-last-child(2) th:first-child {
  color: #ee0209;
}

.panel-group .panel-body .center-con a.disabled {
  opacity: 0.2;
  cursor: default;
}

div.w100 {
  max-width: 640px;

  .new {
    width: 100%;
    background: #e5e6e8;
    float: left;
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;

    ul li {
      width: 50%;
      float: left;
    }

  }

  h5, h4 {
    float: left;
    width: 100%;
    font-family: $font-700;
    background: #333f48;
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
  }
}

.benefits.new .bene-btn {
  clear: both;
}

div.top50 {
  margin-top: 50px;
}

.dynamicID > div.opt {
  display: none;
}

.dynamicID > div.opt:first-child {
  display: block;
}

.hide {
  display: none;
}

.checkout table.table4 td:nth-child(2) {
  width: 36%;
}

.checkout table.table3 td:nth-child(2) {
  width: 62%;
}

.checkout table.table3 td:nth-child(3) {
  width: 20%;
}

.bundle-table table tbody tr:first-child td {
 /* text-align: left;*/
}

.bundle-table table tbody tr:first-child td strong {
  font-size: 15px;
  margin-top: 7px;
  display: inline-block;
}

.bundle-table table tbody tr:first-child td p {
  min-height: 100px;

}

.bundle-table-mob .bundle-table-cont .bundle-wrap p p {
  margin: 0;
  padding: 0 0 10px 0;
  min-height: 110px;
}

.wrapper .container {
  margin-top: 40px;
}

div.bundle-selector.w100 {
  max-width: inherit;
}

.bundle-table .bundle-cards td img, .bundle-table .bundle-cards th img {
  max-width: 100%;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  position: relative;
  z-index: 20;
  &:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);

  }
}

.container.benefits .bene-btn {
  display: block;
  clear: both;
}

.bundle-table-mob {
  .bundle-wrap {
    &.active {
      background: #e9e9e9;
      h3 {
        background: #c1c1c1;
      }
      .bundle-points, li {
        background: #e9e9e9;
      }
      .bundle-ben {

      }
      .bundle-radio {
        background-color: #474747;
        em {
          color: #FFFFFF;
        }
      }
    }
  }
  .bundle-radio {
    input[type=radio]:checked + label {
      content: "";
      background: url(../images/radio-button2.png) no-repeat;
    }
  }
}



.ie {
  .bundle-table .bundle-cards {
    margin-top: 40px;
  }
}
