@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSans-100.woff') format('woff'),
  url('../fonts/MuseoSans-100') format('svg'),
  url('../fonts/MuseoSans-100.eot') format('eot');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSans-300.woff') format('woff'),
  url('../fonts/MuseoSans-300') format('svg'),
  url('../fonts/MuseoSans-300.eot') format('eot');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 500';
  src: url('../fonts/MuseoSans-500.woff') format('woff'),
  url('../fonts/MuseoSans-500') format('svg'),
  url('../fonts/MuseoSans-500.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('../fonts/MuseoSans-700.woff') format('woff'),
  url('../fonts/MuseoSans-700') format('svg'),
  url('../fonts/MuseoSans-700.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 900';
  src: url('../fonts/MuseoSans-900.woff') format('woff'),
  url('../fonts/MuseoSans-900') format('svg'),
  url('../fonts/MuseoSans-900.eot') format('eot');
  font-weight: 900;
  font-style: normal;
}