@import "../../bourbon/_bourbon";
@import "functions";

footer{
  width: 100%;
  display: inline-block;
  background: #ffffff;
  border-top: 1px solid #cccccc;
  padding: 42px 0 50px 0;

  ul{
    float: left;
    margin-left: 50px;
    margin-bottom: 0;
    padding: 0;

    li{
      display: inline-block;
      margin-right: 25px;

      a{
        font: normal 12px 'Museo Sans 500';
        color: #2c2c2c;
      }
    }
  }

  em{
    float: right;
    font: normal 12px 'Museo Sans 500';
    color: #000000;
    opacity: 0.4;
    margin-right: 50px;
    margin-top: 4px;
  }
}