//robotomedium

//$blue: #77aed9;
//$grey: #333333;
//
//$lato-regular: "Lato-Regular";
$gotham-medium: "Gotham-medium", '29LTBukra-Bold';
$gotham-bold: "Gotham-bold", '29LTBukra-Bold';
$gotham-light: "Gotham-light", '29LTBukra-Regular';
$gotham-book: "Gotham Book", "Arial Narrow", 'DINNextLTArabic-Regular';


$layout-width: 1100px;

//181818

////////////mixins////////////////
@mixin overlay($z-index, $isFixed) {
  @if ($isFixed :true) {
    position: fixed;

  } @else {
    position: absolute;
  }
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  @if ($z-index !="") {
    z-index: $z-index
  }
}

@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  @if ($left != "") {
    left: $left;
  }
  @if ($top != "") {
    top: $top;
  }
  @if ($bottom != "") {
    bottom: $bottom;

  }
  @if ($right != "") {
    right: $right;
  }
}

@mixin fixed($top, $right, $bottom, $left) {
  position: fixed;
  @if ($left != "") {
    left: $left;
  }
  @if ($top != "") {
    top: $top;
  }
  @if ($bottom != "") {
    bottom: $bottom;

  }
  @if ($right != "") {
    right: $right;
  }
}

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin border($width, $color) {
  border: $width solid $color;
  -webkit-box-sizing: border-box;
}

@mixin content($width, $height, $top, $right, $bottom, $left) {
  content: "";
  @include widthHeight($width, $height);
  @include absolute($top, $right, $bottom, $left)

}

@mixin verticalCenter() {
  @include absolute(50%, "", "", 50%);
  max-width: 100%;
  max-height: 100%;
  @include transform(translate(-50%, -50%))
}

@mixin breakpoint($media) {
  @if $media == tablet-l {
    @media only screen and (max-width: 1100px) {
      @content;
    }
  } @else if $media == tablet-p {
    @media only screen and (max-width: 900px) {
      @content;
    }

  } @else if $media == mobile {
    @media only screen and (max-width: 767) {
      @content;
    }
  }

}


@mixin centerAllignFlex(){

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
//$columns: 13;
//
//@for $i from 1 through $columns {
//  .ipad-image-#{$i} {
//    background: url(../Images/image-ipad-#{$i}.png) no-repeat 0 0;
//    //z-index: #{14-$i};
//
//  }
//}

////////////mixins////////////////
