@import "../../bourbon/_bourbon";
@import "functions";

header {
  width: 100%;
  height: 90px;
  background: #ffffff;
  padding: 22px 0 0 0;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;

  a.logo {
    width: 135px;
    height: 40px;
    float: right;
    margin: 0 0 0 50px;

    img {
      height: 100%;
      float: right;
    }
  }

  h1 {
    float: right;
    font: normal 20px 'Museo Sans 500';
    margin: 10px 0 0 70px;
    color: #363642;
    max-width: 300px;
    max-height: 46px;
    overflow: hidden;
  }

  .lang-switch {
    float: right;
    margin-left: 50px;
    margin-top: 10px;

    a {
      color: #000000;
    }
  }

  .button {
    float: left;
    margin: 2px 0 0 40px;
  }

  .log-count {
    float: left;
    margin: 10px 40px 0 0;
    display: none;

    a {
      font: normal 12px 'Museo Sans 700';
      color: #525c60;

      em {
        font-style: normal;
        margin: 0 5px 0 0;
      }

      strong{
        color: #ee0209;
      }

      &:after{
        content: '';
        width: 18px;
        height: 19px;
        background: url("../images/icon-count.png") no-repeat 0 0;
        float: left;
        margin: 0 10px 0 0;
      }
    }
  }
}
