@import "../../bourbon/_bourbon";
@import "functions";

header {
  width: calc(100% - 100px);
  height: 90px;
  background: #ffffff;
  padding: 22px 0 0 0;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;

  position: fixed;
  top: 0;
  left: 100px;
  z-index: 4;

  a.logo {
    width: 135px;
    height: 40px;
    float: left;
    margin: 0 0 0 50px;

    img {
      height: 100%;
      float: left;
    }
  }

  h1 {
    float: left;
    font: normal 20px 'Museo Sans 500';
    margin: 10px 0 0 70px;
    color: #363642;
    max-width: 300px;
    max-height: 46px;
    overflow: hidden;
    display: none;
  }

  .lang-switch {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    a {
      font: normal 14px 'Tahoma';
      color: #000000;
    }
  }

  .button {
    float: right;
    margin: 2px 40px 0 0;
  }

  .log-count {
    float: right;
    margin: 10px 40px 0 0;

    a {
      font: normal 12px 'Museo Sans 700';
      color: #525c60;

      em {
        font-style: normal;
        margin: 0 5px 0 0;
      }

      strong {
        color: #ee0209;
        display: none;
      }

      &:after {
        content: '';
        width: 18px;
        height: 19px;
        background: url("../images/icon-count.png") no-repeat 0 0;
        float: left;
        margin: 0 10px 0 0;
      }
    }
  }
}

.cont-inner {
  margin-top: 90px;
}

.nav-top {
  padding: 0 0 0 75px;
  margin: 0 0 0 40px;
  border-left: 1px solid #cccccc;
  list-style: none;
  float: left;
}

.nav-top li {
  float: left;
  margin-right: 14px;
  position: relative;
  a {
    cursor: default;
    pointer-events: none;
  }
}

.nav-top li:after {
  position: absolute;
  right: -11px;
  top: 18px;
  content: '';
  width: 9px;
  height: 7px;
  background-image: url('../images/header-nav/nav-arrow.png');
}

.nav-top li.inactive:after {
  background-image: url('../images/header-nav/nav-arrow-inactive.png');
}

.nav-top li:last-child {
  margin-right: 0;
}

.nav-top li:last-child:after {
  display: none;
  width: 0;
}

.nav-top li img {
  display: none;
}

.nav-top li .nav-inactive {
  display: inline-block;
  pointer-events: none;
  cursor: default;
}

.nav-top li.active .nav-icon,
.nav-top li.inactive .nav-icon {
  display: none;
}

.nav-top li.active .nav-active {
  display: inline-block;
}

.nav-top li.active .nav-active.islamic {
  display: none;
}

.nav-top li.inactive .nav-inactive {
  display: inline-block;
}

.nav-top li .islamic-nav {
  display: none
}

.nav-top li:hover .nav-inactive,
.nav-top li:hover .nav-icon {
  /*display: none;*/
}

.nav-top li:hover .nav-active {
  /*  display: inline-block;*/
}

.nav-top {
  li {
    &.active {
      .nav-icon, .nav-inactive {
        display: none;
      }
      .nav-active {
        display: inline-block;
      }
    }
    &.completed {
      .nav-active, .nav-inactive {
        display: none;
      }
      .nav-icon {
        display: inline-block;
      }
    }
  }
}

/*Islamic*/
/*.nav-top li .nav-active.islamic-nav {
  display: none;
}
.nav-top li:hover .nav-active.islamic-nav {
  display: none;
}

.nav-top.nav-islamic li:hover .nav-active {
  display: none;
}

.nav-top.nav-islamic li:hover .nav-active.islamic-nav {
  display: inline-block;
}*/

.nav-islamic li.active .nav-active {
  display: none;
}

.nav-top.nav-islamic li.active .nav-active.islamic-nav {
  display: inline-block;
}
