@import "../../bourbon/bourbon";
@import "functions";

$darkteal: #007680;
$lightteal: #269988;

.theme-islamic {

  .conventional {
    display: none !important;
  }
  .islamic {
    display: block;
  }

  nav{
    background: $lightteal;
  }
  .cont-sec h2{
    color: $lightteal ;
  }
}

.theme-conventional {
  .islamic {

    display: none !important;
  }
}
