@import "../../bourbon/_bourbon";
@import "functions";

.widget-ques {
  width: 100%;
  background: #ffffff;
  padding: 68px 0 80px 0;
  box-sizing: border-box;

  .col-md-9 {
    img {
      float: left;
    }
  }

  .align-heading {
    width: 80%;
    display: inline-block;
    margin-top: 12px;
    margin-left: 25px;

    h2, h3 {
      width: 100%;
      margin: 0 0 8px 0;
      font: normal 20px 'Museo Sans 700';
      color: #ee0209;
    }

    h3 {
      font: normal 18px 'Museo Sans 700';
      color: #333f48;
    }
  }

  .button {
    margin-top: 10px;
  }
}

.cont-sec {
  width: 100%;
  display: block;
  padding: 40px 0 0 0;
  background: #ffffff;

  text-align: center;
  border-bottom: 1px solid #cccccc;

  h2 {
    width: 100%;
    margin: 0 0 20px 0;
    font: normal 14px 'Museo Sans 700';
    color: #ee0209;
    letter-spacing: 3px;
    font-size:22px;
    em {
      text-transform: lowercase;
    }
  }

  p {
    width: 100%;
    margin: 0 0 7px 0;
    font: normal 22px 'Museo Sans 500';
    color: #2e2e2e;

    &:last-child {
      margin: 0 auto;
      max-width: 80%;
    }

    strong {
      width: 100%;
      display: inline-block;
      margin: 0;
      font: normal 22px 'Museo Sans 700';
      color: #2e2e2e;
      &:first-child {
        margin-bottom:10px;
      }
    }
  }

  em {
    width: 100%;
    max-width: 450px;
    font: normal 14px 'Museo Sans 300';
    color: #525c60;
    display: inline-block;
    margin: 20px 0 0 0;
  }
}

.box-cont {
  width: 100%;
  text-align: center;
  margin-top: -20px;

  .row {
    margin: 0;
    display: flex;

    .col-md-6 {
      padding: 30px 8% 40px 8%;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      background: #cccccc;
      cursor: pointer;

      .box-bg {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }

      .box-inner {
        display: block;
        position: relative;
        z-index: 1;

        > img {
          margin-bottom: 32px;
        }

        .btn-normal {
          margin-bottom: 0;
        }

        h2 {
          width: 100%;
          display: block;
          font: normal 26px 'Museo Sans 700';
          margin: 0 0 15px 0;
          color: #000;
        }

        p {
          width: 100%;
          color: #000;
          display: block;
          font: normal 18px 'Museo Sans 300';
          min-height: 75px;
        }
      }
    }
  }
}

.single-col-field {
  width: 306px;
  margin: 0 auto;
  padding: 70px 0 100px 0;

  .form {
    width: 100%;
    text-align: center;

    fieldset {
      width: 100%;
      border: none;
      margin: 0 0 26px 0;
      padding: 0;

      &.error {
        input {
          border: 1px solid #ee0209;
          box-shadow: none;
        }
      }

      label {
        width: 100%;
        font: normal 16px 'Museo Sans 500';
        margin-bottom: 12px;
      }

      input {
        width: 100%;
        padding: 12px 20px;
        border: 1px solid #cecece;
        font: normal 30px 'Museo Sans 700';
        color: #2e2e2e;
        outline: none;
        text-align: center;
      }
    }

    em {
      width: 100%;
      display: inline-block;
      font: normal 14px 'Museo Sans 500';
      margin-bottom: 6px;
    }

    .re-code {
      width: 100%;
      display: inline-block;
      font: normal 14px 'Museo Sans 700';
      color: #ee0209;
      margin-bottom: 42px;

      &:hover {
        color: #bb0308;
      }
    }
  }
}

.two-col-field {
  width: 100%;
  padding: 70px 0 52px 0;

  form {
    width: 100%;
    text-align: center;

    fieldset {
      width: 50%;
      float: left;
      border: none;
      text-align: left;
      margin: 0 0 40px 0;
      box-sizing: border-box;
      padding: 0 20px;

      &.error {
        input {
          border: 1px solid #ee0209;
          box-shadow: none;
        }
      }

      label {
        width: 100%;
        margin-bottom: 14px;
        font: normal 16px 'Museo Sans 500';
      }

      input {
        width: 100%;
        padding: 12px 20px;
        border: 1px solid #cecece;
        font: normal 30px 'Museo Sans 700';
        color: #2e2e2e;
        outline: none;
      }
    }

    .captcha {
      width: 100%;
      display: block;
      margin-bottom: 32px;
    }
  }
}









.field-block-single-col {
  padding: 70px 0 52px 0;
  margin: 0 auto;
  width:80%;
  form {
    width: 100%;
    text-align: center;
    fieldset {
      wwidth: 100%;
      wfloat: left;
      border: none;
      margin: 0 0 65px 0;
      box-sizing: border-box;
      &.error {
        input {
          border: 1px solid #ee0209;
          box-shadow: none;
        }
      }
      label {
        width: 100%;
        margin-bottom: 12px;
        font: normal 16px 'Museo Sans 500';
      }
      input {
        text-align: center;
        width: 100%;
        padding: 12px 20px;
        /*&::-webkit-input-placeholder { /!* Chrome/Opera/Safari *!/
          color: #2e2e2e;
        }
        &::-moz-placeholder { /!* Firefox 19+ *!/
          color: #2e2e2e;
        }
        &:-ms-input-placeholder { /!* IE 10+ *!/
          color: #2e2e2e;
        }
        &:-moz-placeholder { /!* Firefox 18- *!/
          color: #2e2e2e;
        }*/
      }
      select {
        height: 60px;
      }
      select, input {
        border: 1px solid #cecece;
        font: normal 30px 'Museo Sans 700';
        color: #2e2e2e;
        outline: none;
      }
    }
    .captcha {
      width: 100%;
      display: block;
      margin-bottom: 32px;
    }
  }
  .error input {
    border: 1px solid #ee0209;
    box-shadow: none;
  }
  .custom-drop-down {

  }
}

.field-block-single-col fieldset.col-md-8 > div {
  float:left;
  width:100%;
  margin-bottom: 25px;
}


.cont-sec.allpg {
 padding-bottom: 70px;
}


html body .cont-wrap .error {
  > input {
    border: 1px solid #ee0209;
    box-shadow: none;
  }
}