@import "../../bourbon/_bourbon";
@import "functions";

nav {
  width: 100px;
  height: 100%;
  position: fixed;
  background: #ee0209;
  top: 0;
  overflow: auto;

  ul {
    width: 100%;
    margin: 89px 0 0 0;
    padding: 0;
    border-top: 1px solid #f78184;

    li {
      text-align: center;
      padding: 0;

      a {
        width: 100%;
        display: inline-block;

        .nav-active, .nav-complete {
          display: none;
        }

        img {
          width: 100%;
        }
      }

      &.active {
        a {
          .nav-icon, .nav-complete {
            display: none;
          }
          .nav-active {
            display: inline-block;
          }
        }
      }

      &.completed {
        a {
          .nav-icon, .nav-active {
            display: none;
          }
          .nav-complete {
            display: inline-block;
          }
        }
      }
    }
  }

  #nav-create {
    display: none;
  }
}

