@import "../../bourbon/_bourbon";
@import "functions";
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
  .custom-select:after {
    right: 2px;
  }
  .center-con {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    em {
      color: #FFFFFF;
      margin-top: 15px;
      display: block;
    }
    .button {
      margin: 0 15px;
    }

  }
  .overlay-cont {
    width: 690px;
    background: #333f48;
    border-radius: 10px;
    padding: 80px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    @include verticalCenter();
    text-align: center;
    .overlay-wrapper {
      overflow-y: auto;
    }
    .overlay-cont-inner {
      //height: 95%;
      .clearfix {
        display: table;
        float: left;
        width: 100%;
        margin: 50px 0;
      }
    }
    h3 {
      width: 100%;
      font: normal 24px 'Museo Sans 700';
      color: #ffffff;
      margin: 0 0 18px 0;
    }
    p {
      width: 100%;
      font: normal 14px 'Museo Sans 500';
      color: #ffffff;
      margin: 0 0 46px 0;
    }
    .tel {
      display: inline-block;
      font: normal 44px 'Museo Sans 700';
      color: #ffffff;
      border: 1px solid #59636a;
      padding: 24px 48px;
      margin: 0;
      border-radius: 10px;
    }
    .close-btn {
      width: 22px;
      height: 22px;
      position: absolute;
      right: 52px;
      top: 38px;
      background: url("../images/close-btn.png") no-repeat 0 0;
    }

    .exit-form {
      float: left;
      width: 100%;
      text-align: left;
      box-sizing: border-box;

      fieldset {
        float: left;
        border: 0;
        width: 49%;
        box-sizing: border-box;

        label {
          display: block;
          color: #fff;
          font-weight: 100;
        }

        input {
          border: 1px solid #ccc;
          padding: 19px 10px;
          width: 100%;
          box-sizing: border-box;
        }
        select.form-control {
          color: #000;
          height: 60px;
        }
        &.error {
          input {
            border: 1px solid #ee0209;
          }
        }
      }
    }

    .overlay-terms {
      color: #fff;
      display: inline-block;
      margin: 20px 0 0 0;

      a {
        text-decoration: underline;
      }

      input {
        display: inline-block;
        background: transparent;
        position: relative;
        top: 3px;

      }

      label {
        font-weight: 100;
      }
    }
  }
  .h40 {
    padding-bottom: 20px;
  }

  .overlay-submit {
    clear: both;
    padding: 40px 0 10px 0;

    a {
      text-decoration: underline;
      color: #fff;
      clear: both;
      display: block;
      margin: 0 0 10px 0;
    }

    p {
      margin: 10px 0 0 0;
      padding: 30px 0 0 0;
    }
  }

  .nospace {
    padding-top: 0;
  }

  .overlay-cont-h {
    @extend .overlay-cont;
    padding: 75px 35px;
    width: 608px;
    div.prod-list {
      float: left;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 0 35px;
      position: relative;
      margin: 0 0 45px 0;
    }

    h4 {
      position: relative;
      float: left;
      width: 100%;
      display: inline-block;
      top: -17px;
      text-align: center;
      font: normal 12px 'Museo Sans 500';
      span {
        font-size: 12px;
        background: #333f48;
        padding: 0 5px;
        width: auto;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #fff;
      }
    }

    .p-list {
      display: inline-block;
      text-align: center;
      margin: 0 10px 25px;
      width: 118px;
      p {
        font-size: 10px;
        display: block;
        text-align: center;
        margin: 15px 0 0;
      }
      img {
      }
      .counter {
        font: normal 12px 'Museo Sans 500';
        color: #fff;
        font-weight: normal;
        display: none;
      }
    }
    .nospace {
      padding-right: 0;
    }
  }
}

#saved-overlay {
  .overlay-cont-h {
    padding: 25px 35px;
  }
}

.overlay-comb-hide {
  display: none;
}

#submit-overlay, #saved-overlay, #not-for-mobile-users, #not-completed-bundle, #leave-overlay, #overlay-leave, #submit-overlay, #not-for-mobile-users {
  display: block;
}

.overlay-cont.overlay-leave {
  padding-bottom: 80px;
  .cancel-overlay {
    margin-bottom: 50px !important;
  }
}

/* RESPONSIVE */

@media (max-width: 768px) {

  $full-width: 100%;

  .overlay .overlay-cont .exit-form fieldset {
    width: $full-width;
    input {
      width: $full-width;
    }
    img {
      width: $full-width;
    }
  }
}

