@import "../../bourbon/bourbon";
@import "functions";

.progress-wheel {
  .progress-circle {
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

    margin: -85px 0 0 -85px;
    background: transparent;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    height: 170px;
    width: 170px;
    left: 50%;
    top: 50%;
  }

  .p-f,
  .p-h {
    clip: rect(0, 170px, 170px, 85px);
    position: absolute;
    overflow: hidden;
    height: 170px;
    width: 100%;
    left: 0%;
  }

  .p-f {
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    left: 0;
  }

  .p-f:before,
  .p-h:before {
    content: '';
    background: #ef0208;
    position: absolute;
    height: 170px;
    width: 50%;
    left: 0%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -moz-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  .progress-circle #progress {
    margin: -62px 0 0 -62px;
    border-radius: 100%;
    position: absolute;
    background: #f8f0ea;
    height: 124px;
    width: 124px;
    z-index: 1;
    left: 50%;
    top: 50%;
  }

  /* Screen Readers only (from Bootstrap) */
  .sr-only {
    clip: rect(0, 0, 0, 0);
    position: absolute;
    overflow: hidden;
    margin: -1px;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }

  /* Click / Touch Here */

  //.progress-container:before {
  //  content: 'CSS3 Radial Progress Bar';
  //  text-transform: uppercase;
  //  position: absolute;
  //  color: #828282;
  //  font-size: 10px;
  //  bottom: 15px;
  //  left: 20px;
  //}
  //

  .progress-container {
    //-webkit-box-shadow: inset 0 0 0 1px #D1D2D3, inset 0 -1px 25px 0 #CFCFCF;
    //box-shadow: inset 0 0 0 1px #D1D2D3, inset 0 -1px 25px 0 #CFCFCF;
    //margin: -125px 0 0 -125px;
    //border: 2px solid #fff;
    //border-radius: 20px;
    position: relative;
    //background: #fff;
    height: 170px;
    width: 170px;
    margin: 0 auto;
    -webkit-transform: rotateZ(21deg);
    -moz-transform: rotateZ(21deg);
    -ms-transform: rotateZ(21deg);
    -o-transform: rotateZ(21deg);
    transform: rotateZ(21deg);
  }

  h5 {
    width: 100%;
    display: block;
    font: normal 30px 'Museo Sans 900';
    color: #ef0208;
    margin: 0 0 8px 0;
  }

  p {
    width: 100%;
    max-height: 50px;
    display: block;
    font: normal 11px 'Museo Sans 500';
    color: #333f48;
    margin: 0 0 0 0;
    line-height: 16px;
  }

  .copy{
    position: absolute;
    width: 170px;
    height: 170px;
    @include verticalCenter();
    z-index: 2;
    box-sizing: border-box;
    padding: 33px;
    //display: none;
    @include transition(all 0.3s linear);

    &.active{
      padding:45px 33px;
    }

  }
}

.progress-container2 {
  position: relative;
  text-align: center;
  width: 170px;
  height: 170px;
  margin: 0 auto 10px;
  .progress-clr-circle-def-state {
    background: url(../images/progress/progress-circle-1.png) no-repeat 0 0;
    width: 170px;
    height: 170px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  #progress-clr-circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    canvas {

    }
  }
  .copy2 {
    position: absolute;
    width: 110px;
    height: 100px;
    top: 35px;
    left: 31px;
    z-index: 2;
    box-sizing: border-box;

    h5 {
      width: 100%;
      display: block;
      font: normal 30px 'Museo Sans 900';
      color: #ef0208;
      margin: 0 0 8px 0;
    }

    p {
      width: 100%;
      max-height: 50px;
      display: block;
      font: normal 11px 'Museo Sans 500';
      color: #333f48;
      margin: 0 0 0 0;
      line-height: 16px;
    }

  }
}
