@import "../../bourbon/_bourbon";
@import "functions";

@mixin puzzle($id) {
  &.#{$id} {
    .#{$id}-text {
      display: block;
    }
    .#{$id}-copy {
      display: block !important;
    }

  }

}

.puzzle-main {
  position: relative;
  width: 792px;
  margin: 0 auto 50px;
  height: 574px;

  &.active {
    height: 739px;
  }

  .puzzle-overlay {
    .left {

    }
  }
  .puzzle-part {
    position: absolute;

  }
  .puzzle-overlay {
    background: #333f48;
    width: 100%;
    border-radius: 10px;

    .left {
      left: 0;
      top: 0;

    }
    .right {
      right: 0;
      ftop: 0;

    }
    .content {
      opacity: 0;
      transform: translatey(40px);
      left: 105px;
      top: 105px;
      z-index: -1;
      transition: all 0.3s linear;
      position: absolute;

      .copy {
        display: none;
      }

    }
    &.active {
      // height: 739px;
      .text {
        display: none;
      }

      .content {
        opacity: 1;
        z-index: 2;
        transform: translatey(0px);

      }
      //.left {
      //  width: 250px;
      //  left: -23px;
      //  top: -22px;
      //}
      //.right {
      //  top: auto;
      //  width: 250px;
      //  right: -23px;
      //  bottom: -22px;
      //
      //}
    }

  }
  .transition {
    //  transition: all 0.5s linear;
  }
  .incomplete-part {
    opacity: 0;
  }
  .puzzle-svg {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    //opacity: 0;
  }
  .text-left {
    display: none;
    width: 250px;
    left: -23px;
    top: 0;
  }

  //&.insurance {
  //  .insurance-text {
  //    display: block;
  //  }
  //  .insurance-copy{
  //    display: block !important;
  //  }
  //
  //}

  @include puzzle(insurance);
  @include puzzle(borrow);
  @include puzzle(pay);
  @include puzzle(save);
  @include puzzle(account);

  .puzzle-close {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 5px;
    background: url(../images/close-btn.png) no-repeat 0 0;
    z-index: 1;
  }

}

.puzzle-tooltip {
  display: none;
  position: fixed;
  z-index: 2;

}

.puzzle-helper {
  width: 100%;
  margin: 0 auto;
  max-width: 792px;
  height: 2px;
  background-color: #000;
}

.puzzle-info {
  max-width: 792px;
  margin: 0 auto;
  em {
    font: 10px 'Museo Sans 500';
    display: inline-block;
    padding-left: 25px;
    position: relative;
    margin-right: 15px;
    float: right;
    &:before {
      content: "";
      left: 0;
      top: -2px;
      width: 15px;
      height: 15px;
      position: absolute;
      border-radius: 3px;
      background-color: #ef0208;
    }

    &:last-child:before {
      background-color: #333f48;

    }
  }

}

.tool-info {
  width: 340px;
  min-height: 160px;
  padding: 32px 40px;
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background: #f8f0ea;
  position: relative;

  &:after{
    content: '';
    width: 19px;
    height: 18px;
    background: url("../images/tool-tip-arrow.png") 0 0 no-repeat;
    position: absolute;
    bottom: -18px;
    right: 65px;
  }

  h3 {
    width: 100%;
    margin: 0 0 10px 0;
    font: normal 18px 'Museo Sans 700';
    color: #ef0208;
  }

  p {
    width: 100%;
    margin: 0;
    font: normal 13px/20px 'Museo Sans 500';
    color: #333f48;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .puzzle-helper {
    max-width: 553px;

  }

  .puzzle-main {
    transform: scale(0.7);
    transform-origin: 80px top;
  }

}

.puzzle-main .puzzle-overlay.active .right {
  top: auto;
}