@media (min-width: 768px) {
  .container {
    width: 650px;
  }

  .cont-inner-left .container {
    width: 100%;

  }
}

@media (min-width: 992px) {
  .container {
    width: 870px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
  .side-panel {
    width: 300px;
  }

  .panel-top-inner {
    padding: 32px 15px;
  }

  .accordion-fill .edit-body {
    padding: 20px 15px;
  }

  .adv-btn {
    width: 299px;
  }

  .cont-inner-left {
    width: calc(100% - 300px);
  }

  .two-col-layout footer {
    width: calc(100% - 300px);
  }
  .estimate-loan {
    min-width: initial;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .bundle-table table tbody tr td strong {
    font-size: 16px;
  }

  .two-col-layout footer em {
    float: left;
    margin: 15px 0 0 50px;
    clear: both;
  }
  .puzzle-tooltip-cont {
    display: none !important;
  }
}

@media screen and (max-width: 1280px) {
  .puzzle-tooltip-cont {
    display: none !important;
  }
  .invest-graph-outer .button-panel-tree {
    margin-bottom: 35px;
  }
  .invest-outer-con {
    width: 480px;
  }
  .estimate-loan {
    min-width: initial;
  }
  .field-block-single-col {
    width: 100%;
  }
  .field-block-single-col form fieldset select, .field-block-single-col form fieldset input, .custom-drop-down-container .dd-default-state {
    font-size: 26px;
    line-height: 22px;
  }
  .field-block-single-col .custom-drop-down-container {
    height: 55px;
    .dd-icon {
      height: 45px;
    }
  }
  .nav-top {
    padding: 0 0 0 25px;
    margin: 0 0 0 10px;
    li {
      width: 60px;
      &:after {
        right: -12px;
        top: 12px;
      }
      img {
        max-width: 100%;
      }
    }
  }
  header .log-count {
    margin: 10px 10px 0 0;
  }
  header .lang-switch {
    margin-right: 10px;
  }
  header a.logo, header .benefits ul li a.logo.active, .benefits ul li header a.logo.active {
    margin: 0 0 0 20px;
  }

}

@media screen and (max-width: 1200px) {
  .puzzle-info {
    margin: -200px 20px 0 0;
  }
  .banner-content fieldset .currency-cont input[type="number"] {
    padding: 7px 10px 7px 0;
  }
}

@media screen and (max-width: 1178px) {

  .cont-sec p br, .wrapper p.lead br {
    display: none;
  }
  .estimate-loan {
    width: 100%;
  }
  .loan-container {
    padding: 25px;
  }
  .loan-container > h3 {
    margin: -25px -25px 25px;
  }
  .insure-tab .invest-detail, .save-tab .invest-detail {
    width: 100%;
  }
  .loan-container .center-con.wid-600 {
    min-width: inherit;
    width: 100%;
  }
  .checkout .wrapper {
    max-width: inherit;
  }
  .overlay .overlay-cont {
    //height: 80%;
    top: 55%;
  }
  .overlay .overlay-cont .overlay-cont-inner, .overlay .overlay-cont-h .overlay-cont-inner {
    max-height: 460px;
    overflow-y: auto;
  }
  .checkout table th {
    font-size: 13px;
    padding: 15px 2% 5px 2%;
  }
  .intrested {
    margin-bottom: 0;
  }
  .overlay .overlay-cont, .overlay .overlay-cont-h {
    padding: 60px 20px 20px;
  }
  .overlay .overlay-cont .close-btn, .overlay .overlay-cont-h .close-btn {
    right: 18px;
    top: 15px;
  }
  .overlay .overlay-cont h3, .overlay .overlay-cont-h h3 {
    padding: 0 23px;
  }
  .hide-n-show-info-wrapper .benefits ul.bullet {
    width: 100%;
    margin: 0 0 10px;
  }
  div.w100 .new ul li, .hide-n-show-info-wrapper .benefits ul.bullet li {
    width: 100%;
  }
  div.w100 h5, div.w100 h4 {
    font-size: 15px;
  }
  #incomplete-bundle-overlay {
    .overlay-cont {
      height: auto;
    }
  }
  .overlay-cont.overlay-leave, .overlay .overlay-leave.overlay-cont-h {
    padding-bottom: 55px;
  }
  .loan-container > h3, .loan-container > h4, .checkout table td .loan-container > h4 {
    margin: -25px -25px 40px;
  }
  .insure-tab .invest-detail, .save-tab .invest-detail {
    margin-top: 0;
    p, .button-panel.text-center {
      margin-top: 0;
    }
  }

}

@media screen and (max-width: 1000px) {

  .puzzle-tooltip-cont {
    display: none !important;
  }

  .sticky-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: table;
    width: calc(100% - 100px);
  }

  .side-panel {
    background: transparent;
    position: static;
    width: 100%;
    padding: 0;
    border: none;
    bottom: 78px;
    top: auto;
    height: auto;
  }

  .panel-in {
    display: none;

    background: #f8f0ea;
  }

  .checkout table tfoot {
    clear: both;
  }

  .cont-inner-left {
    width: 100%;
    float: left;
  }

  .two-col-layout footer {
    width: 100%;
  }

  .two-col-layout .two-col-cont {
    margin: 0;
  }

  .spin-header {
    display: block;
  }

  .panel-in.adv-btn {
    display: none !important;
  }

  .two-col-layout footer {
    margin: 0px 0 0 0;
  }

  .accordion-fill > .panel-heading .accordion-toggle:after {
    display: none;
  }

  .accordion-fill > .panel-heading .close-cont {
    display: block;
  }

  .pnt-counter-box-container {
    margin-bottom: 30px;
  }
  .two-col-layout footer {
    margin: 0 0 45px 0;
  }
  .cont-inner-left .cont-sec {
    padding: 120px 0 30px 0;
  }
  .checkout table {
    width: 100%;
  }

  .field-block-single-col fieldset.col-md-8 > div > div {
    margin: 0 0 40px 0 !important;
    padding: 0 !important;;
  }

  .field-block-single-col form fieldset {
    margin: 0 0 30px 0;
  }
  .colh .loan-container {
    overflow: hidden;
  }
  header a.logo, header .benefits ul li a.logo.active, .benefits ul li header a.logo.active {
    margin-left: 15px;
  }
  header .lang-switch {
    margin-right: 15px;
  }
  header .log-count {
    margin-right: 15px;
  }

}

@media screen and (max-width: 999px) {
  .puzzle-info {
    margin: -180px 0 20px 0;
  }
  .puzzle-main {
    transform: scale(0.7);
    transform-origin: center top;
  }
  .estimate-loan .el-column {
    margin-bottom: 15px;
  }
  .nav-top {
    display: none;
  }
  .box-cont .row .col-md-6 {
    &:first-child {
      border-bottom: solid 1px #c3c2bd;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  header a.logo {
    margin: 0 0 0 20px;
  }

  header h1 {
    margin: 10px 0 0 20px;
  }

  header .lang-switch {
    margin-right: 20px;
  }

  header .log-count {
    margin: 10px 20px 0 0;
  }

  nav {
    width: 80px;
  }

  .cont-wrap {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  .two-col-layout header {
    position: fixed;
    top: 0;
    left: 80px;
    width: calc(100% - 80px);
  }

  .widget-ques .btn {
    margin-top: 10px;
  }

  footer ul {
    margin-left: 20px;
  }

  footer ul li {
    margin-right: 10px;
  }

  footer em {
    margin-right: 20px;
  }

  .two-col-layout footer em {
    float: left;
    margin: 15px 0 0 20px;
    clear: both;
  }

  .widget-ques .align-heading {
    margin-bottom: 20px;
  }

  .widget-ques {
    padding: 68px 0 60px 0;
  }

  .box-cont .row {
    display: block;
  }

  .two-col-field form fieldset {
    padding: 0 10px;
  }

  .two-col-field form fieldset label {
    font-size: 14px;
  }

  .bundle-table table tbody tr td strong {
    font-size: 12px;
  }

  .bundle-table table tbody tr td {
    padding: 12px 10px;
  }

  .bundle-table table thead tr th {
    padding: 20px 10px;
  }

  .bundle-table table tbody tr th {
    padding: 12px 10px;
  }

  .bundle-table table tbody tr td p {
    padding: 6px 0;
  }
  .sticky-bar {
    width: calc(100% - 80px);
  }
  header {
    width: calc(100% - 80px);
    left: 80px;
  }

}

@media screen and (max-width: 800px) {

  .puzzle-main {
    transform: scale(0.8);
    transform-origin: 80px top;
  }
  .puzzle-info {
    margin: -160px 20px 20px 0;
  }
  .estimate-loan .el-column {
    width: 100%;
    &:last-child {

    }
  }

  .bundle-table-mob .bundle-table-cont .bundle-wrap h2 {
    font-size: 13px;
  }

}

@media screen and (max-width: 767px) {
  .sticky-bar {
    width: calc(100% - 65px);
  }
  .puzzle-info {
    text-align: center;
    display: block;
    margin: -20px -15px 17px 0;
    em {
      float: none;

    }
  }
  .checkout table {
    display: flex;
    overflow-x: scroll;
  }
  .checkout table tr td:first-child {
    text-align: center;
  }
  .checkout table tr td:first-child img {
    margin-bottom: 7px;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-mobile {
    display: inline-block;
  }
  .overlay .overlay-cont, .overlay .overlay-cont-h {
    width: 90%;
  }
  .overlay .overlay-cont .exit-form {
    //overflow-y: initial !important;
  }
  .hide-n-show-info-wrapper .benefits:first-child {
    display: block;
  }
  .carousel-inner-common img, .carousel-inner-common ul img {
    opacity: 1;
    margin: 0 auto;
  }
  .has-card-carousel-mobile-wrapper {
    .bx-wrapper .bx-prev {
      left: 10%;
    }
    .bx-wrapper .bx-next {
      right: 10%;
    }
  }
  header {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 640px) {
  .panel-group .panel-body .center-con.flbtn .button {
    float: none;
  }
  .estimate-loan .el-column {
    width: 100%;
    &:last-child {

    }
  }
  .center-con {
    width: 100%;
    min-width: initial;

  }
  .bullets-con {
    .va-top {
      display: block;
      margin-bottom: 10px;
    }
  }
  .bullets-con .button-panel {
    margin-left: 0;
    text-align: center;
  }
  .insure-tab .center-con .button.sa-ac-next-btn {
    margin: 0;
  }
  .insure-tab .center-con .button.sa-ac-next-btn, .save-tab .center-con .button.sa-ac-next-btn {
    margin-left: 0;
    margin-right: 0;
  }
  .insure-tab .invest-detail, .save-tab .invest-detail {
    margin: 0;
  }
  .invest-graph .invest-graph-con:nth-child(2) {
    margin: 0 20px;
  }
  .save-tab .center-con.sb-set-1 {
    margin-bottom: 0;
  }
  /*  .loan-container .button-panel, .loan-container .switch-button-con {
      text-align: left;
    }*/
  .field-block-single-col {
    width: 100%;
    padding: 20px;
  }
  .invest-graph-outer .invest-graph-panel .graph-small {
    margin-bottom: 25px;
  }
  .invest-graph-outer .button-panel-tree {
    margin-right: 0;
    margin-left: 0;
  }
  .checkout h2 {
    font-size: 18px !important;
  }
  .checkout .container {
    margin-top: 0;
  }
  .intrested ul .box-inner h2 {
    font-size: 16px;
  }
  .intrested ul li {
    padding: 20px 10px;
  }
  .intrested ul .box-inner .hcontrl {
    min-height: 90px;
  }
  .intrested {
    margin-bottom: 0;
  }
  .intrested p {
    margin-bottom: 20px;
  }
  .intrested ul .box-inner img {
    max-width: 50%;
  }
  .feature-box-two-col-nested.w100 {
    .bullet {
      border-spacing: 0;
      li {
        float: left;
        width: 100%;
      }
    }
  }
  #saved-overlay .overlay-cont-h {
    padding: 20px 15px;
  }
  .overlay .overlay-cont-h div.prod-list {
    padding: 0 10px 15px;
  }
  .overlay .overlay-cont-h .p-list {
    margin: 0;
    p {
      margin: 0;

    }
    img {
      -webkit-transform: scale(0.7, 0.7);
      -moz-transform: scale(0.7, 0.7);
      -ms-transform: scale(0.7, 0.7);
      -o-transform: scale(0.7, 0.7);
      transform: scale(0.7, 0.7);
    }
  }
  .overlay .overlay-cont p, .overlay .overlay-cont-h p {
    margin: 0 0 20px 0;
  }
  .overlay .overlay-cont-h h4 {
    margin-bottom: -10px;
  }
  .loan-container.mar-top-40 .row.mar-bot-5 {
    margin: 0;
    .colh.benefits {
      margin-bottom: 0;
    }
  }

}

@media screen and (max-width: 640px) {
  .invest-graph-outer .invest-graph-panel {
    text-align: center;
    width: 100%;
    .graph-container {
      float: none;
      margin: 20px auto;
    }
  }

  .cont-inner {
    margin-top:0;
  }
}

@media screen and (max-width: 480px) {
  .checkout table tr:first-child th {
    font-size: 10px;
  }
  /*.overlay .overlay-cont .exit-form {
    height: 250px;
  }*/
  .checkout table tr:first-child th br {
    display: none;
  }
  .center-con strong.va-top {
    display: block;
    margin-bottom: 15px;
  }
  .bullet {
    padding: 0;
  }
  .loan-container .form-control, .loan-container .form-control, .loan-container .form-control, .field-block-single-col form fieldset input {
    border: solid 1px #929090;
    font-size: 18px;
    height: 40px;
  }
  .custom-select:after {
    width: 40px;
    height: 38px;
    top: 1px;
    right: 1px;
  }
  .custom-drop-down-container {
    height: 40px;
    .dd-default-state {
      font: normal 18px 'Museo Sans 700';
      padding: 10px 30px 10px 10px;
      height: 40px;
    }
    .custom-drop-down {
      top: 38px;
      li {
        a {
          font: normal 18px 'Museo Sans 700';
          padding: 10px 10px;
          height: 40px;
        }
      }
    }
    .dd-icon {
      width: 35px;
      height: 35px;
      top: 2px;
      right: 1px;
    }
  }
  .switch-button-con {
    strong.lead {
      display: block;
      margin-bottom: 15px;
    }
  }
  .loan-container {
    padding: 15px;
    margin-top: 20px;
  }
  .loan-container > h3 {
    margin: -15px -15px 15px;
    padding: 15px 20px;
  }
  .estimate-loan .el-column {
    margin-top: 20px !important;
  }
  .estimate-loan .el-column p {
    margin-bottom: 10px;
  }
  .switch-button-con {
    margin-bottom: 25px;
  }
  .loan-container .button-panel {
    margin-top: 20px;
  }
  .wrapper {
    width: calc(100% - 20px);
    margin: 25px auto 10px;
  }
  .percentage-counter .dec, .percentage-counter .inc {
    top: 12px;
  }
  .percentage-counter .dec {
    left: 15px;
  }
  .percentage-counter .inc {
    right: 15px;
  }
  .loan-container .row.mar-bot-35 {
    margin-bottom: 15px;
  }
  .center-con.wid-600 {
    margin-bottom: 20px;
  }
  .panel-group .panel-heading .panel-title a {
    padding: 20px 40px 20px 20px;
  }
  .panel-group .panel-heading .panel-title a:after {
    right: 15px;
  }
  .insure-tab .form {
    width: 80%;
  }
  .bullets-con .button-panel {
    margin-left: 0;
  }
  .insure-tab .only-btn {
    margin-top: 0;
  }
  .panel-group .panel-body .invest-button-group1, .panel-group .panel-body .invest-button-group2 {
    .button {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .invest-graph .invest-graph-con:nth-child(2) {
    margin: 0 15px;
  }
  .field-block-single-col form fieldset label.mar-top-70 {
    margin-top: 20px;
  }
  .field-block-single-col form fieldset {
    margin-bottom: 20px;
  }
  .invest-graph-outer {
    margin-top: 0;
    padding: 0;
  }
  .invest-graph-outer .invest-graph-panel .graph-container .graph-body {
    padding: 15px;
  }
  .invest-graph-outer .invest-graph-panel .graph-large .graph-body .graph-bar:last-child {
    right: 15px;
  }
  .intrested p {
    margin-bottom: 25px;
  }
  .intrested {
    padding: 30px 0 0 0;
    margin: 0;
  }
  .overlay .overlay-cont, .overlay .overlay-cont-h, .overlay .overlay-cont-h {
    //padding-bottom: 0;
  }
  .overlay .overlay-cont, .overlay .overlay-cont-h {
    //height: 85%;
    top: 51%;
  }
  .overlay .overlay-cont .exit-form fieldset input, .overlay .overlay-cont-h .exit-form fieldset input {
    padding: 10px 10px;
  }
  .overlay .overlay-cont .exit-form fieldset select.form-control, .overlay .overlay-cont-h .exit-form fieldset select.form-control {
    height: 42px;
  }
  .overlay .custom-select:after {
    right: 1px;
  }
  .overlay-cont.overlay-leave .center-con .button {
    margin-bottom: 30px;
  }
  .overlay-cont.overlay-leave, .overlay .overlay-leave.overlay-cont-h, .overlay .overlay-leave.overlay-cont-h {
    padding-bottom: 20px;
  }
  .button img {
    max-width: 100%;
  }
  .container.benefits {
    padding: 0;
    margin: 10px 0 0;
  }
  .center-con .button {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .loan-container > h3, .loan-container > h4, .checkout table td .loan-container > h4 {
    margin: -16px -16px 40px;
    padding: 20px 40px 20px 20px;
    font-size: 16px;
  }

}

@media screen and (max-width: 479px) {
  .invest-graph-outer .invest-graph-panel .graph-large {
    width: 93%;
  }
  .invest-graph-outer .button-panel-tree .button-step-panel .button {
    margin-right: 0;
    img {
      max-width: 100%;
    }
  }
  .invest-graph-outer .button-panel-tree .button-step-panel {
    width: 90%;
  }
  .sticky-bar .sticky-ifno {
    padding: 18px 10px;
    font-size: 14px;
  }
  .has-card-carousel-mobile-wrapper {
    .bx-wrapper .bx-prev {
      left: 1%;
    }
    .bx-wrapper .bx-next {
      right: 1%;
    }
  }
}

@media screen and (max-width: 375px) {

  .pnt-counter-box-container .pnt-counter-box {
    width: calc(100% - 20px);
    margin: 10px 10px 0;
  }
  .pnt-counter-box-container .pnt-counter-box .pnt-counter-box-inner {
    padding: 10px;
  }
  .button-panel.mar-top-40 {
    margin-top: 20px;
  }
  .pnt-counter-box-container {
    margin-bottom: 15px;
  }
  .insure-tab .center-con {
    margin-bottom: 5px;
  }
  .insure-tab p {
    margin: 10px 0 20px;
  }
  .insure-tab .invest-detail p, .save-tab .invest-detail p {
    margin: 5px 0 10px;
  }
  .insure-tab .invest-detail fieldset:last-child, .save-tab .invest-detail fieldset:last-child {
    margin-bottom: 0;
  }
  .button-group-two-lines {
    .button img {
      max-width: 100%;
    }
    .clearfix {
      display: none;
    }
  }
  .invest-graph .invest-graph-con:nth-child(2) {
    margin: 0 5px;
  }
  .invest-graph .invest-graph-con {
    width: 60px;
  }
  .invest-graph .graph-title {
    font-size: 14px;
    line-height: 14px;
  }
  .year-counter {
    margin: 15px auto 10px auto;
  }
  .invest-graph-outer .invest-graph-panel .graph-large {
    width: 100%;
  }
  .invest-graph-outer .invest-graph-panel .graph-container .graph-header h2, .invest-graph-outer .invest-graph-panel .graph-container .graph-header h3, .invest-graph-outer .invest-graph-panel .graph-container .graph-footer h2, .invest-graph-outer .invest-graph-panel .graph-container .graph-footer h3 {
    font-size: 14px;
  }
  .invest-graph-outer .button-panel-tree .button-step-panel .button {
    margin-bottom: 55px;
  }
  .invest-graph-outer .invest-graph-panel .graph-small {
    margin-left: 20%;
  }
  .intrested ul .box-inner h2 {
    font-size: 16px;
  }
  .intrested ul li {
    max-width: inherit;
    padding: 25px 10px;
  }
  .overlay .overlay-cont .exit-form fieldset, .overlay .overlay-cont-h .exit-form fieldset {
    padding-left: 0;
    padding-right: 0;
  }
  .cc .dynamicID > div, .hide-n-show-info-wrapper > div {
    padding: 0;
  }
  div.w100 .new {
    padding: 10px 15px;
  }
  .has-card-carousel-mobile-wrapper {
    .bx-wrapper .bx-prev {
      left: -2%;
    }
    .bx-wrapper .bx-next {
      right: -2%;
    }
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .puzzle-main .puzzle-close {
    top: -55px;
  }

  .cont-wrap {
    width: calc(100% - 65px);
    margin-left: 65px;
    padding-top: 50px;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  nav {
    height: calc(100% - 50px);
    top: 50px;
    width: 65px;
  }

  nav ul {
    margin: 0 0 0 0;
  }

  header {
    height: 50px;
    padding: 12px 0 0 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0px;
  }

  header a.logo {
    width: 65px;
    height: 20px;
    margin: 0;
  }

  header a.logo img {
  }

  header h1 {
    font-size: 12px;
    margin: 5px 0 0 10px;
    max-width: 130px;
    max-height: 30px;
  }

  header .lang-switch {
    margin-right: 10px;
    margin-top: 0;
  }

  header .lang-switch a {
    font-size: 11px;
  }

  header .button {
    margin: 0 8px 0 0;
  }

  header .button img {
    width: 50px;
  }

  header .log-count {
    margin: 2px 10px 0 0;
  }

  header .log-count a i {
    display: none;
  }

  .banner-content {
    padding: 38px 0;
    min-height: 400px;
  }

  .banner-content .col-md-12 > img {
    margin-bottom: 12px;
    width: 54px;
  }

  .banner-content h2 {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .banner-content p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .banner-content fieldset label {
    font-size: 14px;
  }

  .banner-content fieldset {
    max-width: 355px;
    width: 100%;
  }

  .banner-content fieldset .currency-cont {
    height: 40px;
    margin-bottom: 20px;
  }

  .banner-content fieldset .currency-cont em {
    width: 60px;
    font-size: 18px;
    top: 8px;
    padding: 0;
  }

  .banner-content fieldset .currency-cont input[type="number"] {
    width: calc(100% - 60px);
    font-size: 18px;
    padding: 7px 0 7px 8px;
  }

  .widget-ques {
    text-align: center;
    padding: 30px 0 40px 0;
  }

  .widget-ques .col-md-9 img {
    width: 32px;
  }

  .widget-ques .align-heading {
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
  }

  .widget-ques .align-heading h2, .widget-ques .align-heading h3 {
    font-size: 14px;
  }

  .widget-ques .align-heading h3 {
    margin-bottom: 20px;
  }

  .widget-ques .btn {
    margin-top: 0;
  }

  footer ul {
    margin-left: 20px;
  }

  footer ul li {
    margin-right: 15px;
  }

  footer em {
    float: left;
    margin-right: 0;
    margin-left: 20px;
  }

  footer {
    padding: 15px 0;
  }

  .cont-sec {
    padding: 40px 0 40px 0;
  }

  .cont-sec h2 {
    margin: 0 0 18px 0;
  }

  .box-cont .row {
    display: block;
  }

  .box-cont .row .col-md-6 {
    min-height: 0;
    padding: 60px 10px;
  }

  .box-cont .row .col-md-6 .box-inner > img {
    margin-bottom: 22px;
    width: 74px;
  }

  .box-cont .row .col-md-6 .box-inner h2 {
    margin: 0 0 28px 0;
    font-size: 22px;
  }

  .box-cont .row .col-md-6 .box-inner p {
    margin: 0 0 40px 0;
    font-size: 14px;
  }

  .two-col-field form fieldset {
    width: 100%;
    padding: 0;
  }

  .two-col-field {
    padding: 50px 0 50px 0;
  }

  .two-col-layout header {
    left: 0;
    width: 100%;
  }

  .two-col-field form fieldset label {
    font-size: 14px;
  }

  .cont-sec p, .cont-sec p strong, .wrapper p.lead, .intrested p {
    font-size: 18px;
  }

  .two-col-field form fieldset input, .single-col-field form fieldset input {
    font-size: 18px;
  }

  .single-col-field {
    width: 100%;
    padding: 50px 20px 50px 20px;
  }

  .single-col-field form fieldset label {
    font-size: 14px;
  }

  .single-col-field form .re-code {
    margin-bottom: 30px;
  }

  /*.overlay .overlay-cont .exit-form {
    height:300px;
    overflow-y:auto;
  }*/

  .overlay .overlay-cont .exit-form fieldset {
    margin: 0;
  }

  .overlay .overlay-cont .close-btn {
    right: 15px;
    top: 15px;
  }

  .overlay .overlay-cont h3 {
    font-size: 20px;
  }

  .overlay .overlay-cont .tel {
    padding: 24px 12px;
    font-size: 22px;
  }

  .captcha img {
    width: 100%;
  }

  .bundle-table {
    width: calc(100% - 30px);
    overflow: auto;
    margin: 30px auto 0;
  }

  .bundle-table table {
    min-width: 668px;
  }

  .bundle-table table tbody tr td strong {
    font-size: 12px;
  }

  .bundle-table table tbody tr td {
    padding: 12px 10px;
  }

  .bundle-table table thead tr th {
    padding: 20px 10px;
  }

  .bundle-table table tbody tr th {
    padding: 12px 10px;
  }

  .bundle-table table tbody tr td p {
    padding: 6px 0;
  }

  .bundle-selector ul li .box-inner img {
    width: 40px;
    margin-bottom: 20px;
  }

  .bundle-selector ul li .box-inner h2, .bundle-selector ul li .box-inner h3 {
    font-size: 18px;
  }

  .bundle-selector ul li.active:after {
    bottom: -19px;
  }

  .bundle-selector ul li {
    padding: 30px 10px;
  }

  .table-btn {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .table-btn .btn-black, .table-btn .btn {
    margin-right: 0;
    clear: both;
  }

  .bundle-table table tbody tr td label i {
    display: block;
  }

  .puzzle {
    margin: 0 0 40px 0;
  }

  .cont-inner-left .cont-sec {
    padding: 30px 0;
  }

  .cont-sec em {
    margin: 10px 0 0 0;
  }

  .puzzle-main {
    width: 100%;
    max-width: 240px;
    height: 174px;
    transform: none;

    .puzzle-svg {
      svg {
        width: 240px;
        height: 175px;
      }
    }
    .puzzle-part {
      width: 100%;

    }
    .text-left {
      display: none !important;
    }
    &.active {
      max-width: 100%;
      margin-bottom: 0;
    }
    .puzzle-overlay {
      border-radius: 0;
    }
    .puzzle-overlay.active .content {

      left: 20px;
      top: 85px;
      width: calc(100% - 40px);
    }
  }

  .puzzle-cont .puzzle-cont-inner .product-category li {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .puzzle-cont .puzzle-cont-inner .points li {
    width: 100%;
    padding: 10px 0;
    max-width: 100%;
  }

  .puzzle-cont .puzzle-cont-inner .product-category li .button {
    display: inline-block;
    float: none;

    img {
      width: 40%;
    }

  }

  .puzzle-cont {
    height: 954px;
    overflow: visible;
  }

  .sticky-btn img {
    width: 30px;
  }

  .bundle-table-mob {
    display: block;
  }

  .bundle-table {
    display: none;
  }

  .accordion-fill .edit-body {
    padding: 20px 10px;
  }

  .detail-edit .panel-heading > a[aria-expanded="true"] {
    padding: 20px 10px 14px;
  }

  .detail-edit .panel-heading > a {
    padding: 30px 10px;
  }

  .detail-edit .panel-heading .ed-btn a {
    margin: 0 5px 0 0;
  }

}

@media screen and (max-width: 320px) {

  .center-con.wid-600 {
    width: auto;
    .checkbox {
      margin: 0 15px 15px 0;
    }
  }
  .sticky-bar {
    width: calc(100% - 65px);
  }
  .puzzle-info {
    margin: -30px 0 0 0;
  }
  .two-col-layout .two-col-cont {
    margin: 0 0 40px 0;
  }
  .invest-graph-outer .button-panel-tree .button-steps-tree .bst-circle {
    margin-bottom: 74px;
  }
  .invest-graph-outer .invest-graph-panel .graph-small {
    margin-left: 13%;
  }
  header .log-count {
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari */
    transform: scale(0.8, 0.8);
    transform-origin: center center;
    margin: 2px -9px 0 0;
  }
  .has-card-carousel-mobile-wrapper {
    .bx-wrapper .bx-prev {
      left: -6.5%;
    }
    .bx-wrapper .bx-next {
      right: -6.5%;
    }
  }

}
