@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  header a.logo {
    margin: 0 20px 0 0;
  }

  header h1 {
    margin: 10px 20px 0 0;
  }

  header .btn-black {
    margin: 2px 0 0 20px;
  }

  header .lang-switch {
    margin-left: 30px;
  }

  footer ul li {
    margin-left: 10px;
  }

  footer ul {
    margin-right: 20px;
  }

  footer em {
    margin-left: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cont-wrap {
    margin-right: 65px;
  }

  header a.logo {
    margin: 0;
  }

  header {
    padding: 12px 10px 0 0;
  }

  header h1 {
    margin: 5px 10px 0 0;
  }

  header .lang-switch{
    margin-left: 10px;
  }

  header .btn-black {
    margin: 2px 0 0 8px;
  }

  footer ul {
    margin-right: 20px;
  }

  footer ul li {
    margin-left: 15px;
  }

  footer em {
    float: right;
    margin-right: 20px;
    margin-left: 0;
  }

  .banner-content fieldset .currency-cont input[type="number"] {
    padding: 7px 8px 7px 0;
  }

  .banner-content fieldset .currency-cont em{
    padding: 0;
  }

  .overlay .overlay-cont .close-btn {
    left: 15px;
  }
}

@media screen and (min-height: 320px) and (max-height: 413px) {
}