@import "../../bourbon/_bourbon";
@import "functions";
.side-panel {
  width: 325px;
  position: fixed;
  height: calc(100% - 90px);
  background: #f8f0ea;
  border-left: 1px solid #e5e6e8;
  overflow-y: auto;
  padding: 0 0 92px 0;
  right: 0;
  zoom: 1;
  .drop-down-checkout {
    margin-top: 10px;
    h6 {
      font-family: "Museo Sans 500";
      font-size: 16px;
      margin: 35px 0 10px 0;
    }
    .dd-checkout-box {
      display: none;
    }
    .custom-select {
      margin-top: 10px;
      select {
        background: #FFFFFF;
      }
      &:after {
        height: 46px;
      }
    }
    .form-control {
      color: #2e2e2e;
      font: normal 18px 'Museo Sans 300';
      height: 50px;
      padding: 4px 8px;
    }
  }
}
.panel-top {
  width: 100%;
  display: block;
  box-sizing: border-box;

  .panel-top-inner {
    padding: 32px 22px;
  }
}
.spin-header {
  display: none;
  position: relative;

  h3 {
    width: 100%;
    display: block;
    font: normal 18px 'Museo Sans 700';
    color: #ffffff;
    margin: 0;
    padding: 22px 20px 20px 28px;
    background: #333f48;
  }

  .close-btn {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 50%;
    background: url(../images/close-btn.png) no-repeat 0 0;
    margin: -11px 0 0 0;
  }
}
.progress-panel {
  width: 100%;
  display: block;
  margin: 0 0 34px 0;

  h4 {
    width: 100%;
    font: normal 20px 'Museo Sans 700';
    color: #333f48;
    margin: 0 0 18px 0;
    text-align: left;
    padding: 0 0px 0px 37px;
  }

  > p {
    width: 100%;
    position: relative;
    font: normal 11px 'Museo Sans 500';
    color: #333f48;
    margin: 0;
    padding: 0 0 0 38px;
    box-sizing: border-box;
    position: relative;

    img {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      max-width: 100%;
    }
  }
}
.progress-wheel {
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
  display: inline-block;
  position: relative;

  img {
    /*width: 170px;
    height: 170px;*/
    @include verticalCenter();
  }
}
.accordion {
  width: 100%;
  display: block;
  border: 1px solid #c0c0c0;
  border-bottom: none;

  /* &:last-child {
     border-top: none;
   }*/

  .panel-heading {
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid #c0c0c0;

    a {
      width: 100%;
      display: block;
      font: normal 12px 'Museo Sans 700';
      color: #333f48;
      background: #e5e6e8;
      padding: 16px 20px;
      margin: 0;
      cursor: pointer;
      position: relative;

      &[aria-expanded="true"] {
        background: #333f48;
        color: #ffffff;
      }

      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background: url("../images/plus-icon.png") no-repeat center center;
        float: right;
      }

      &[aria-expanded="true"]:after {
        background: url("../images/minus-icon.png") no-repeat center center;
      }

      &[aria-expanded="false"]:after {
        background: url("../images/plus-icon.png") no-repeat center center;
      }
    }
  }

  .collapse-summary {
    width: 100%;
    padding: 30px 32px;
    background: #ffffff;
    border-bottom: 1px solid #c0c0c0;

    h4 {
      width: 100%;
      font: normal 16px 'Museo Sans 700';
      color: #020202;
      margin: 0 0 12px 0;
    }

    p {
      width: 100%;
      font: normal 12px 'Museo Sans 500';
      color: #33333c;
      margin: 0 0 15px 0;
    }

    h5 {
      width: 100%;
      font: normal 12px 'Museo Sans 700';
      color: #ef0208;
      margin: 0 0 12px 0;
    }

    strong {
      width: 100%;
      font: normal 30px 'Museo Sans 900';
      color: #333f48;
      margin: 0;
    }
  }

  .red-opt {
    width: 100%;
    display: inline-block;
    margin: 15px 0 0 0;

    h5 {
      width: 60%;
      float: left;
      font: normal 13px 'Museo Sans 700';
      color: #000000;
      padding: 0 10px 0 0;
      box-sizing: border-box;
      margin: 1px 0 0 0;
    }

    a {
      width: 40%;
      float: left;
      text-decoration: underline;
      font: normal 13px 'Museo Sans 700';
      color: #ef0208;
      margin: 0;
    }

    ul {
      width: 100%;
      display: table;
      float: left;
      margin: 16px 0 0 0;
      padding: 0;

      li {
        display: table-cell;
        text-align: center;

        img {
          display: inline-block;
          width: auto;
          max-width: 100%;
        }

        label {
          width: 100%;
          display: inline-block;
          font: normal 10px 'Museo Sans 700';
          color: #333f48;
        }
      }
    }
  }

  .panel {
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
.accordion-fill {
  width: 100%;
  display: block;
  background: #e5e6e8;

  > .panel-heading {
    padding: 0;
    border-radius: 0;
    position: relative;
    z-index: 5;
    .accordion-toggle {
      width: 100%;
      display: block;
      font: normal 18px 'Museo Sans 700';
      color: #ffffff;
      margin: 0;
      padding: 22px 20px 20px 28px;
      background: #333f48;
      position: relative;

      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background: url("../images/minus-icon.png") no-repeat center center;
        float: right;
      }

      &[aria-expanded="true"]:after {
        background: url("../images/minus-icon.png") no-repeat center center;
      }

      &[aria-expanded="false"]:after {
        background: url("../images/plus-icon.png") no-repeat center center;
      }
    }

    .close-cont {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    .close-btn {
      width: 22px;
      height: 22px;
      position: absolute;
      right: 20px;
      top: 50%;
      background: url(../images/close-btn.png) no-repeat 0 0;
      margin: -11px 0 0 0;
    }
  }

  .edit-body {
    width: 100%;
    padding: 20px 22px;
  }
}
.detail-sec {
  h2, h6 {
    font: normal 18px 'Museo Sans 700';
    color: #333f48;
    background: #bfbfc0;
    padding: 10px 20px;
    margin: 0;
  }
  #new-product-label {
    display: none;
  }
}
.detail-edit {
  width: 100%;
  display: inline-block;
  position: relative;
  background: #ffffff;
  border-bottom: 1px solid #c5c5c6;
  border-left: 1px solid #c5c5c6;
  margin-bottom: 12px;
  &.incomplete-panel {
    display: none;
  }
  .panel-heading {
    padding: 0;
    border-radius: 0;
    position: relative;

    > a {
      width: 100%;
      display: block;
      font: normal 14px 'Museo Sans 700';
      color: #ec0e1d;
      margin: 0;
      padding: 30px 20px;
      background: #ffffff;
      position: relative;

      &[aria-expanded="true"] {
        background: #fff;
        padding: 20px 20px 14px;
        margin: 0 0 -1px 0;
      }

      &:after {
        content: '';
        display: block;
        width: 12px;
        height: 16px;
        background: url("../images/pan-arrow.png") no-repeat center center;
        float: right;
      }

      /*&[aria-expanded="true"]:after {
        display: none;
      }

      &[aria-expanded="false"]:after {
        display: block;
      }*/

      .head-icon {
        width: 26px;
        float: left;
        text-align: center;
        margin-right: 10px;

        img {
          max-width: 100%;
          width: auto;
          margin: -5px 0 0 0;
        }
      }
    }

    .ed-btn {
      display: none;
      @include verticalCenter();
      left: auto;
      right: 0;

      a {
        margin: 0 10px 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }

  }

  .collapse {
    &.in {
      background: #fff;
    }
  }

  .detail-inner {
    width: calc(100% - 40px);
    display: block;
    padding: 20px 18px 15px;
    margin: 0 20px;
    border-top: 1px solid #c5c5c6;

    h5 {
      width: 100%;
      font: normal 12px 'Museo Sans 700';
      color: #ef0208;
      margin: 0 0 8px 0;
      text-transform: uppercase;
    }

    h4 {
      &:first-of-type {
        margin-top: 0;
      }
    }

    h6 {
      width: 100%;
      font: normal 26px 'Museo Sans 900';
      margin: 0 0 16px 0;
      color: #333f48;
      background: none;
      padding: 0;
    }

    h4 {
      font: normal 14px 'Museo Sans 900';
      color: #333f48;
      margin: 20px 0 12px 0;
    }

    p {
      width: 100%;
      font: normal 12px 'Museo Sans 500';
      margin: 0 0 10px 0;
      color: #2e2e2e;

      strong {
        font-family: 'Museo Sans 900';
      }
    }
  }

  &.opened {
    .ed-btn {
      display: none;
    }

    .panel-heading {
      > a {
        &:after {
          -webkit-transition: all .1s;
          -moz-transition: all .1s;
          -ms-transition: all .1s;
          -o-transition: all .1s;
          transition: all .1s;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
  &.opened {
    &:before {
      background-color: #ec0e1d;
      content: '';
      position: absolute;
      height: 100%;
      width: 5px;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after {
      background: url("../images/tip-left.png") no-repeat 0 0;
      content: '';
      width: 8px;
      height: 17px;
      position: absolute;
      top: 50%;
      left: -8px;
      margin-top: -8px;
    }
  }
}
.adv-btn {
  width: 324px;
  padding: 20px 0;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 5;

  .btn {
    margin: 12px 0 0 0;
  }
}
.sticky-bar {
  display: none;
  width: 100%;
  border-top: 1px solid #ffffff;
  background: #333f48;

  a {
    display: table-cell;
    position: relative;
    text-align: center;
    font: normal 16px 'Museo Sans 700';
    color: #ffffff;
  }

  .sticky-spin, .sticky-login {
    width: 20%;

    img {
    }
  }

  .sticky-ifno {
    width: calc(60% - 2px);
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding: 18px 0;
  }
}
.sticky-btn {

  &.active {
    background: #cc0000;
  }
}
/****************************************************************
 * CSS Percentage Circle
*****************************************************************/
.rect-auto, .circle-bar.p51 .slice, .circle-bar.p52 .slice, .circle-bar.p53 .slice, .circle-bar.p54 .slice,
.circle-bar.p55 .slice, .circle-bar.p56 .slice, .circle-bar.p57 .slice, .circle-bar.p58 .slice, .circle-bar.p59 .slice,
.circle-bar.p60 .slice, .circle-bar.p61 .slice, .circle-bar.p62 .slice, .circle-bar.p63 .slice, .circle-bar.p64 .slice,
.circle-bar.p65 .slice, .circle-bar.p66 .slice, .circle-bar.p67 .slice, .circle-bar.p68 .slice, .circle-bar.p69 .slice,
.circle-bar.p70 .slice, .circle-bar.p71 .slice, .circle-bar.p72 .slice, .circle-bar.p73 .slice, .circle-bar.p74 .slice,
.circle-bar.p75 .slice, .circle-bar.p76 .slice, .circle-bar.p77 .slice, .circle-bar.p78 .slice, .circle-bar.p79 .slice,
.circle-bar.p80 .slice, .circle-bar.p81 .slice, .circle-bar.p82 .slice, .circle-bar.p83 .slice, .circle-bar.p84 .slice,
.circle-bar.p85 .slice, .circle-bar.p86 .slice, .circle-bar.p87 .slice, .circle-bar.p88 .slice, .circle-bar.p89 .slice,
.circle-bar.p90 .slice, .circle-bar.p91 .slice, .circle-bar.p92 .slice, .circle-bar.p93 .slice, .circle-bar.p94 .slice,
.circle-bar.p95 .slice, .circle-bar.p96 .slice, .circle-bar.p97 .slice, .circle-bar.p98 .slice, .circle-bar.p99 .slice,
.circle-bar.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie, .circle-bar .bar, .circle-bar.p51 .fill, .circle-bar.p52 .fill, .circle-bar.p53 .fill, .circle-bar.p54 .fill,
.circle-bar.p55 .fill, .circle-bar.p56 .fill, .circle-bar.p57 .fill, .circle-bar.p58 .fill, .circle-bar.p59 .fill,
.circle-bar.p60 .fill, .circle-bar.p61 .fill, .circle-bar.p62 .fill, .circle-bar.p63 .fill, .circle-bar.p64 .fill,
.circle-bar.p65 .fill, .circle-bar.p66 .fill, .circle-bar.p67 .fill, .circle-bar.p68 .fill, .circle-bar.p69 .fill,
.circle-bar.p70 .fill, .circle-bar.p71 .fill, .circle-bar.p72 .fill, .circle-bar.p73 .fill, .circle-bar.p74 .fill,
.circle-bar.p75 .fill, .circle-bar.p76 .fill, .circle-bar.p77 .fill, .circle-bar.p78 .fill, .circle-bar.p79 .fill,
.circle-bar.p80 .fill, .circle-bar.p81 .fill, .circle-bar.p82 .fill, .circle-bar.p83 .fill, .circle-bar.p84 .fill,
.circle-bar.p85 .fill, .circle-bar.p86 .fill, .circle-bar.p87 .fill, .circle-bar.p88 .fill, .circle-bar.p89 .fill,
.circle-bar.p90 .fill, .circle-bar.p91 .fill, .circle-bar.p92 .fill, .circle-bar.p93 .fill, .circle-bar.p94 .fill,
.circle-bar.p95 .fill, .circle-bar.p96 .fill, .circle-bar.p97 .fill, .circle-bar.p98 .fill, .circle-bar.p99 .fill,
.circle-bar.p100 .fill {
  position: absolute;
  border: 23px solid #ef0208;
  width: 170px;
  height: 170px;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0;
  left: 0;
}
.pie-fill, .circle-bar.p51 .bar:after, .circle-bar.p51 .fill, .circle-bar.p52 .bar:after, .circle-bar.p52 .fill,
.circle-bar.p53 .bar:after, .circle-bar.p53 .fill, .circle-bar.p54 .bar:after, .circle-bar.p54 .fill, .circle-bar.p55 .bar:after,
.circle-bar.p55 .fill, .circle-bar.p56 .bar:after, .circle-bar.p56 .fill, .circle-bar.p57 .bar:after, .circle-bar.p57 .fill,
.circle-bar.p58 .bar:after, .circle-bar.p58 .fill, .circle-bar.p59 .bar:after, .circle-bar.p59 .fill, .circle-bar.p60 .bar:after,
.circle-bar.p60 .fill, .circle-bar.p61 .bar:after, .circle-bar.p61 .fill, .circle-bar.p62 .bar:after, .circle-bar.p62 .fill,
.circle-bar.p63 .bar:after, .circle-bar.p63 .fill, .circle-bar.p64 .bar:after, .circle-bar.p64 .fill, .circle-bar.p65 .bar:after,
.circle-bar.p65 .fill, .circle-bar.p66 .bar:after, .circle-bar.p66 .fill, .circle-bar.p67 .bar:after, .circle-bar.p67 .fill,
.circle-bar.p68 .bar:after, .circle-bar.p68 .fill, .circle-bar.p69 .bar:after, .circle-bar.p69 .fill, .circle-bar.p70 .bar:after,
.circle-bar.p70 .fill, .circle-bar.p71 .bar:after, .circle-bar.p71 .fill, .circle-bar.p72 .bar:after, .circle-bar.p72 .fill,
.circle-bar.p73 .bar:after, .circle-bar.p73 .fill, .circle-bar.p74 .bar:after, .circle-bar.p74 .fill, .circle-bar.p75 .bar:after,
.circle-bar.p75 .fill, .circle-bar.p76 .bar:after, .circle-bar.p76 .fill, .circle-bar.p77 .bar:after, .circle-bar.p77 .fill,
.circle-bar.p78 .bar:after, .circle-bar.p78 .fill, .circle-bar.p79 .bar:after, .circle-bar.p79 .fill, .circle-bar.p80 .bar:after,
.circle-bar.p80 .fill, .circle-bar.p81 .bar:after, .circle-bar.p81 .fill, .circle-bar.p82 .bar:after, .circle-bar.p82 .fill,
.circle-bar.p83 .bar:after, .circle-bar.p83 .fill, .circle-bar.p84 .bar:after, .circle-bar.p84 .fill, .circle-bar.p85 .bar:after,
.circle-bar.p85 .fill, .circle-bar.p86 .bar:after, .circle-bar.p86 .fill, .circle-bar.p87 .bar:after, .circle-bar.p87 .fill,
.circle-bar.p88 .bar:after, .circle-bar.p88 .fill, .circle-bar.p89 .bar:after, .circle-bar.p89 .fill, .circle-bar.p90 .bar:after,
.circle-bar.p90 .fill, .circle-bar.p91 .bar:after, .circle-bar.p91 .fill, .circle-bar.p92 .bar:after, .circle-bar.p92 .fill,
.circle-bar.p93 .bar:after, .circle-bar.p93 .fill, .circle-bar.p94 .bar:after, .circle-bar.p94 .fill, .circle-bar.p95 .bar:after,
.circle-bar.p95 .fill, .circle-bar.p96 .bar:after, .circle-bar.p96 .fill, .circle-bar.p97 .bar:after, .circle-bar.p97 .fill,
.circle-bar.p98 .bar:after, .circle-bar.p98 .fill, .circle-bar.p99 .bar:after, .circle-bar.p99 .fill, .circle-bar.p100 .bar:after,
.circle-bar.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circle-bar {
  position: relative;
  font-size: 172px;
  width: 170px;
  height: 170px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;

  .circle-info {
    width: 75px;
    overflow: hidden;
    @include verticalCenter();
    text-align: center;

    p {
      width: 100%;
      max-height: 50px;
      display: block;
      font: normal 11px 'Museo Sans 500';
      color: #333f48;
      margin: 0 0 0 0;
      line-height: 16px;
    }

  }
}
.circle-bar .slice {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0em, 1em, 1em, 0.5em);
  -webkit-transform: rotateZ(20deg);
  -moz-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  -o-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}
.circle-bar .bar {
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -o-transition: transform 1s linear;
  transition: transform 1s linear;
}
.circle-bar.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.circle-bar.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.circle-bar.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.circle-bar.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.circle-bar.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.circle-bar.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.circle-bar.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.circle-bar.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.circle-bar.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.circle-bar.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.circle-bar.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.circle-bar.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.circle-bar.p13 .bar {
  -webkit-transform: rotate(46.8deg);
  -moz-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  -o-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}
.circle-bar.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.circle-bar.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.circle-bar.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.circle-bar.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.circle-bar.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.circle-bar.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.circle-bar.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.circle-bar.p21 .bar {
  -webkit-transform: rotate(75.6deg);
  -moz-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  -o-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}
.circle-bar.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.circle-bar.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.circle-bar.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.circle-bar.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.circle-bar.p26 .bar {
  -webkit-transform: rotate(93.6deg);
  -moz-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  -o-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}
.circle-bar.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.circle-bar.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.circle-bar.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.circle-bar.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.circle-bar.p31 .bar {
  -webkit-transform: rotate(111.6deg);
  -moz-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  -o-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}
.circle-bar.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.circle-bar.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.circle-bar.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.circle-bar.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.circle-bar.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.circle-bar.p37 .bar {
  -webkit-transform: rotate(133.2deg);
  -moz-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  -o-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}
.circle-bar.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.circle-bar.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.circle-bar.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.circle-bar.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.circle-bar.p42 .bar {
  -webkit-transform: rotate(151.2deg);
  -moz-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  -o-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}
.circle-bar.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.circle-bar.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.circle-bar.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.circle-bar.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.circle-bar.p47 .bar {
  -webkit-transform: rotate(169.2deg);
  -moz-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  -o-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}
.circle-bar.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.circle-bar.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.circle-bar.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circle-bar.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.circle-bar.p52 .bar {
  -webkit-transform: rotate(187.2deg);
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -o-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}
.circle-bar.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.circle-bar.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.circle-bar.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.circle-bar.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.circle-bar.p57 .bar {
  -webkit-transform: rotate(205.2deg);
  -moz-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  -o-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}
.circle-bar.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.circle-bar.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.circle-bar.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.circle-bar.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.circle-bar.p62 .bar {
  -webkit-transform: rotate(223.2deg);
  -moz-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  -o-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}
.circle-bar.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.circle-bar.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.circle-bar.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.circle-bar.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.circle-bar.p67 .bar {
  -webkit-transform: rotate(241.2deg);
  -moz-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  -o-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}
.circle-bar.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.circle-bar.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.circle-bar.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.circle-bar.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.circle-bar.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.circle-bar.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.circle-bar.p74 .bar {
  -webkit-transform: rotate(266.4deg);
  -moz-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  -o-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}
.circle-bar.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.circle-bar.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.circle-bar.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.circle-bar.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.circle-bar.p79 .bar {
  -webkit-transform: rotate(284.4deg);
  -moz-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  -o-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}
.circle-bar.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.circle-bar.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.circle-bar.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.circle-bar.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.circle-bar.p84 .bar {
  -webkit-transform: rotate(302.4deg);
  -moz-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  -o-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}
.circle-bar.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.circle-bar.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.circle-bar.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.circle-bar.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.circle-bar.p89 .bar {
  -webkit-transform: rotate(320.4deg);
  -moz-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  -o-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}
.circle-bar.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.circle-bar.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.circle-bar.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.circle-bar.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.circle-bar.p94 .bar {
  -webkit-transform: rotate(338.4deg);
  -moz-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  -o-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}
.circle-bar.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.circle-bar.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.circle-bar.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.circle-bar.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.circle-bar.p99 .bar {
  -webkit-transform: rotate(356.4deg);
  -moz-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  -o-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}
.circle-bar.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.accordion .collapse-summary.check-sum {
  margin-top: 20px;
}
.accordion.check-sum {
  border: 0;
}
.accordion.check-sum .collapse-summary.chkb1 {
  margin-top: 20px;
}
.accordion.check-sum .panel-heading a {

  border: 1px solid #ccc;
  border-bottom: 0;

}
.accordion.check-sum h6 {
  font-family: "Museo Sans 500";
  font-size: 16px;
  margin: 35px 0 10px 0;
}
.accordion.check-sum .collapse-summary.agent {
  font-size: 30px;
  font-family: "Museo Sans 300";
  padding: 10px 32px;
}
.check-sum input.agent {
  border: 1px solid #ccc;
  color: #2e2e2e;
  font: normal 18px 'Museo Sans 300';
  padding: 14px 10px 13px;
  width: 100%;
}

.sticky-checkout {
  .no-func img {
    margin: -12px 0 -12px 20px;
    width: 30px;
  }
}