
.mar-top-5 {
  margin-top: 5px;
}
.mar-top-10 {
  margin-top: 10px;
}
.mar-top-15 {
  margin-top: 15px;
}
.mar-top-20 {
  margin-top: 20px;
}
.mar-top-30 {
  margin-top: 30px;
}
.mar-top-70 {
  margin-top: 70px;
}
.mar-bot-5 {
  margin-bottom: 5px;
}
.mar-bot-10 {
  margin-bottom: 10px;
}
.mar-bot-15 {
  margin-bottom: 15px;
}
.mar-bot-20 {
  margin-bottom: 20px;
}
.mar-bot-30 {
  margin-bottom: 30px;
}
.mar-top-35 {
  margin-top: 35px;
}
.mar-top-40 {
  margin-top: 40px;
}
.mar-bot-35 {
  margin-bottom: 35px;
}
.mar-bot-40 {
  margin-bottom: 40px;
}
.mar-bot-60 {
  margin-bottom: 60px;
}
html body .cont-wrap .mar-left-0 {
  margin-left: 0;
}
.va-top {
  vertical-align: top;
}
.fsz-16 {
  font-size: 16px;
}
.wid-400 {
  width: 400px;
}
.wid-500 {
  width: 500px;
}
.wid-550 {
  width: 550px;
}
.wid-600 {
  width: 600px;
}
