@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;	
}

/* CSS Document */
/* ----------------- thumbnails label  -------------------- */
.largeLabel{
	font-family:Arial, Helvetica, sans-serif !important;
	margin: 0px !important;
	padding: 0px !important;
	margin-right: 10px !important;
	margin-left: 10px !important;
	font-size:16px !important;
	font-weight:400 !important;
	line-height:20px !important;
	color:#FFFFFF !important;
	text-align:center !important;
	font-weight:100 !important;
}

.smallLabel{
	font-family:Arial, Helvetica, sans-serif !important;
	margin: 0px !important;
	padding: 0px !important;
	margin: 6px !important;
	margin-bottom:0px !important;
	margin-right: 10px !important;
	margin-left: 10px !important;
	margin-top: 2px !important;
	font-size:13px !important;
	line-height:16px !important;
	color:#AAAAAA !important;
	text-align:center !important;
	font-weight:100 !important;
}

/* -------- lightbox description window  ---------- */
.mediaDescriptionHeader{
	font-family:myFont, Arial;
	font-size:20px;
	margin:8px;
	color:#666666;
	font-weight:bold;
}

.mediaDescriptionText{
	font-size:14px;
	margin:8px;
	margin-top:6px;
	margin-bottom:6px;
	color:#555555;
	line-height:18px;
}